

  {% assign tag_count = collection.all_tags | size %}
  {% assign tag_threshold = 5 | minus: 0 %}

  <div class="sixteen columns clearfix collection_nav">
    <div class="ten columns alpha">
    </div>
  </div>

  {% if collection.description != blank %}
    <div class="sixteen columns">
      <div class="section clearfix">
        {{ collection.description }}
      </div>
    </div>
  {% endif %}


   {% include 'sidebar-general', hide_sections: 'vibrators' %}
    <div class="twelve columns">

    <div class="twelve columns">


  {% comment %}
<h4 class="newhome">Browse By Sex Toy Category:</h4>

<div id="bundleimages">
<div>
<a href="/collections/vibrators" title="Vibrators"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/vibrators.jpg?16580"></a>
  <div><span><a href="www.simpli.com">Rabbit Vibrators</a></span><span><a href="www.simpli.com">Rabbit Vibrators</a></span><span><a href="www.simpli.com">Rabbit Vibrators</a></span></div></div>
<a href="/collections/bondage-gear" title="Bondage Gear"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/bondage.jpg?16584"></a>
<a href="/collections/cock-rings" title="Cock Rings"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/cock-rings.jpg?16588"></a>
<a href="/collections/male-toys" title="Male Toys"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/male-toys.jpg?16592"></a>
<a href="/collections/dildos" title="Dildos"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/dildos.jpg?16596"></a>
<a href="/collections/butt-plugs" title="Butt Plugs"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/squares.jpg?16600"></a>
<a href="/collections/anal-sex-toys" title="Anal Toys"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/anal-toys.jpg?16604"></a>
<a href="/collections/strap-ons-harnesses" title="Strap Ons"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/strap-ons.jpg?16608"></a>
<a href="/collections/kegel-health-toys" title="Kegel Health Toys"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/kegels-and-health.jpg?16612"></a>
<a href="/collections/sex-essentials" title="Sex Essentials"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/sex-essentails.jpg?16616"></a>
<a href="/collections/lingerie" title="Lingerie"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/lingerie-and-outfits.jpg?16620"></a>
<a href="/collections/games-gifts" title="Games & Gifts"><img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/games-and-gifts.jpg?16624"></a>


</div>

      {% endcomment %}

      <h4  class="newhome">Browse By Sex Toy Category:</h4>

     <p> Discover sex toys to bring fun to your sex life and new ways to play with your partner.  At Simpli Pleasure you’ll find 1000's of Sex Toys in all styles, shapes and sizes - and every one of them comes with our 60-day satisfaction guarantee. Pick a category below and begin your search for the perfect pleasure toy!</p>


       <div class="twelve columns">
      <div class="newhomeall"> <p class="newhomeallp">See All Sex Toys</p></div>


<div class="three columns alpha thumbnail even" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/vibrators" title="Vibrators"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/vibrators.jpg?16580" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">
<a href="/collections/vibrators/vibrators-bullet"><span class="newhome" >Bullet Vibrators</span></a>
<a href="/collections/vibrators/vibrators-rabbit"><span class="newhome">Rabbit Vibrators</span></a>
<a href="/collections/vibrators/vibrators-quiet"><span class="newhome">Extra Quiet Vibrators</span></a>
<a href="/collections/vibrators/vibrators-luxury"><span class="newhome">Luxury Vibrators</span></a>
  </div>  </div><div class="three columns alpha thumbnail odd" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/bondage-gear" title="Bondage Gear"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/bondage.jpg?16584" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">

<a href="/collections/bondage-gear/bondage-gear-nipple-clitoral"><span class="newhome">Nipple Toys</span></a>


<a href="/collections/bondage-gear/bondage-gear-handcuffs-restraints"><span class="newhome">Handcuffs</span></a>


<a href="/collections/bondage-gear/bondage-gear-kit"><span class="newhome">Bondage Kits</span></a>


<a href="/collections/bondage-gear/bondage-gear-spankers-ticklers"><span class="newhome">Spankers and Ticklers</span></a>

  </div></div><div class="three columns alpha thumbnail even" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/cock-rings" title="Cock Rings"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/cock-rings.jpg?16588" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">

<a href="/collections/cock-rings/cock-rings-vibrates"><span class="newhome">Vibrating Cock Rings</span></a>


<a href="/collections/cock-rings/cock-rings-set"><span class="newhome">Cock Ring Sets</span></a>


<a href="/collections/cock-rings/cock-rings-adjustable"><span class="newhome">Adjustable Cock Rings</span></a>


<a href="/collections/cock-rings/cock-rings-rabbit"><span class="newhome">Rabbit Cock Rings</span></a>


  </div> </div><div class="three columns alpha thumbnail odd" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/male-toys" title="Male Toys"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/male-toys.jpg?16592" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">
<a href="/collections/male-toys/male-toys-masturbators"><span class="newhome">Male Masturbators</span></a>


<a href="/collections/male-toys/male-toys-real-vaginas"><span class="newhome">Realistic Vaginas</span></a>


<a href="/collections/male-toys/male-toys-pumps"><span class="newhome">Penis Pumps</span></a>


<a href="/collections/male-toys/male-toys-prostate"><span class="newhome">Prostate Massagers</span></a>
  </div>  </div><div class="three columns alpha thumbnail even" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/dildos" title="Dildos"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/dildos.jpg?16596" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">

<a href="/collections/dildos/dildos-realistic"><span class="newhome">Realistic Dildos</span></a>


<a href="/collections/dildos/dildos-large"><span class="newhome">Large Dildos</span></a>


<a href="/collections/dildos/dildos-vibrates"><span class="newhome">Vibrating Dildos</span></a>


<a href="/collections/dildos/dildos-glass"><span class="newhome">Glass Dildos</span></a>
  </div> </div><div class="three columns alpha thumbnail odd" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/butt-plugs" title="Butt Plugs"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/squares.jpg?16600" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">

<a href="/collections/butt-plugs/butt-plugs-beginner"><span class="newhome">Beginner's Butt Plugs</span></a>


<a href="/collections/butt-plugs/butt-plugs-vibrates"><span class="newhome">Vibrating Butt Plugs</span></a>


<a href="/collections/butt-plugs/butt-plugs-inflatable"><span class="newhome">Inflatable Butt Plugs</span></a>


<a href="/collections/butt-plugs/butt-plugs-large"><span class="newhome">Large Butt Plugs</span></a>
  </div> </div><div class="three columns alpha thumbnail even" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/anal-sex-toys" title="Anal Toys"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/anal-toys.jpg?16604" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">
<a href="/collections/anal-sex-toys/anal-sex-toys-beginner"><span class="newhome">Beginner's Anal Toys</span></a>


<a href="/collections/anal-sex-toys/anal-sex-toys-beads"><span class="newhome">Anal Beads</span></a>


<a href="/collections/anal-sex-toys/anal-sex-toys-dildos"><span class="newhome">Anal Dildos &amp; Tools</span></a>


<a href="/collections/anal-sex-toys/anal-sex-toys-hygiene"><span class="newhome">Anal Douches</span></a>
         </div>   </div><div class="three columns alpha thumbnail odd" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/strap-ons-harnesses" title="Strap Ons"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/strap-ons.jpg?16608" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">
<a href="/collections/strap-ons-harnesses/strap-ons-harnesses-kit"><span class="newhome">Strap On Kits</span></a>


<a href="/collections/strap-ons-harnesses/strap-ons-harnesses-vibrates"><span class="newhome">Vibrating Strap Ons</span></a>


<a href="/collections/strap-ons-harnesses/strap-ons-harnesses-strapless"><span class="newhome">Double Ended Strap Ons</span></a>


<a href="/collections/strap-ons-harnesses/strap-ons-harnesses-vac-u-loc"><span class="newhome">Vac U Lock Strap Ons</span></a>
         </div>     <br>
  <br><br> </div>
         {% comment %}

         <div class="three columns alpha thumbnail even" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/kegel-health-toys" title="Kegel Health Toys"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/kegels-and-health.jpg?16612" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">
<a href="/collections/vibrators/vibrators-bullet"><span class="newhome" >Bullet Vibrators</span></a>
<a href="/collections/vibrators/vibrators-rabbit"><span class="newhome">Rabbit Vibrators</span></a>
<a href="/collections/vibrators/vibrators-quiet"><span class="newhome">Extra Quiet Vibrators</span></a>
<a href="/collections/vibrators/vibrators-luxury"><span class="newhome">Luxury Vibrators</span></a>
         </div>  </div><div class="three columns alpha thumbnail odd" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/sex-essentials" title="Sex Essentials"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/sex-essentails.jpg?16616" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">
<a href="/collections/vibrators/vibrators-bullet"><span class="newhome" >Bullet Vibrators</span></a>
<a href="/collections/vibrators/vibrators-rabbit"><span class="newhome">Rabbit Vibrators</span></a>
<a href="/collections/vibrators/vibrators-quiet"><span class="newhome">Extra Quiet Vibrators</span></a>
<a href="/collections/vibrators/vibrators-luxury"><span class="newhome">Luxury Vibrators</span></a>
         </div> </div><div class="three columns alpha thumbnail even" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/lingerie" title="Lingerie"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/lingerie-and-outfits.jpg?16620" style="margin-bottom: 0px;margin-top: 0px;" /></a>
<div class="newhome1">
<a href="/collections/vibrators/vibrators-bullet"><span class="newhome" >Bullet Vibrators</span></a>
<a href="/collections/vibrators/vibrators-rabbit"><span class="newhome">Rabbit Vibrators</span></a>
<a href="/collections/vibrators/vibrators-quiet"><span class="newhome">Extra Quiet Vibrators</span></a>
<a href="/collections/vibrators/vibrators-luxury"><span class="newhome">Luxury Vibrators</span></a>
         </div> </div>

  <div class="three columns alpha thumbnail odd" style="margin-bottom: 0px;margin-top: 0px;"><a href="http://simplipleasure.com/collections/games-gifts" title="Games & Gifts"><img src="https://cdn.shopify.com/s/files/1/0386/0093/t/15/assets/games-and-gifts.jpg?16624" style="margin-bottom: 0px;margin-top: 0px;" /></a>
     <div class="newhome1">
<a href="/collections/vibrators/vibrators-bullet"><span class="newhome" >Bullet Vibrators</span></a>
<a href="/collections/vibrators/vibrators-rabbit"><span class="newhome">Rabbit Vibrators</span></a>
<a href="/collections/vibrators/vibrators-quiet"><span class="newhome">Extra Quiet Vibrators</span></a>
<a href="/collections/vibrators/vibrators-luxury"><span class="newhome">Luxury Vibrators</span></a>
        <br>
  <br><br>
  <br> </div></div>


      {% endcomment %}
      </div>

      </div>

      <h4 class="newhome">Choose From The Most Respected Brands of 2015:</h4>
      <p>We stock all the most popular brands on the market.  We are proud to have one of the biggest selection of products online; all available at an unbeatable price.</p>
      <div id="bundleimages">
      <img class="homebundle" src="http://d9hhrg4mnvzow.cloudfront.net/shop.simplipleasure.com/sex-toys/06804934-fifty-shades_03m02o02s01o00f00f.jpg">

<img class="homebundle" src="http://d9hhrg4mnvzow.cloudfront.net/shop.simplipleasure.com/sex-toys/9874faff-doc-johnson_03q02q02w01u00f00f.jpg">

<img class="homebundle" src="http://d9hhrg4mnvzow.cloudfront.net/shop.simplipleasure.com/sex-toys/f133eadc-we-vibe_03q02q02w01w00f00f.jpg">

<img class="homebundle" src="http://d9hhrg4mnvzow.cloudfront.net/shop.simplipleasure.com/sex-toys/6936f31a-durex_03l02n02r01p00f00f.jpg">

<img class="homebundle" src="http://d9hhrg4mnvzow.cloudfront.net/shop.simplipleasure.com/sex-toys/9171765c-lelo_03p02q03p02p000000.jpg">

<img class="homebundle" src="http://d9hhrg4mnvzow.cloudfront.net/shop.simplipleasure.com/sex-toys/d7386c71-jimmy-jane_03n02o03m02n000000.jpg">
          </div>
             <br>
      <br>
            <h4 class="newhome">Not Sure Where To Start? </h4>
      <p>If you're not sure where to begin we recommend you check out our 'Mens' 'Womens' and 'Couples' collections.  Products are listed by best-selling first - this means the first products you see are the most popular on the market!  We've built our store to be fun to explore, so go ahead - pick a collection below to get started!</p>
                 <div id="bundleimages">
                   <a href="/collections/male-toys/" ><img class="homeban" src="http://d9hhrg4mnvzow.cloudfront.net/shop.simplipleasure.com/sex-toys/41f261c3-sex-toys-for-men-header_0n207l0n207l000000.jpg"></a>
                   <div class="newhomeall"> <p class="newhomeallp"><a class="newhome" href="/collections/male-toys/" style="float:right;">See All Male Sex Toys</a></p></div>
 <a href="/collections/couples-toys/"><img class="homeban" src="http://d9hhrg4mnvzow.cloudfront.net/shop.simplipleasure.com/sex-toys/bec31902-topfirsttry3_0n607n0n107l000000.jpg"></a>
                   <div class="newhomeall"> <p class="newhomeallp"><a class="newhome" href="/collections/couples-toys/" style="float:right;">See All Couples Sex Toys</a></p></div>
 <a href="/collections/female-toys/"><img class="homeban" src="http://d9hhrg4mnvzow.cloudfront.net/shop.simplipleasure.com/sex-toys/b6054f1f-sex-toys-for-women-header2_0n407m0n307l000000.jpg"></a>
                   <div class="newhomeall"> <p class="newhomeallp"><a class="newhome" href="/collections/female-toys/" style="float:right;">See All Women's Sex Toys</a></p></div>
 </div>
{% if current_tags %}
<div class="filter-group">
<strong>Current Tags:</strong>

<span class="clear2">
{% for tag in collection.all_tags %}
    {% if current_tags contains tag %}

  		{% if tag == 'sale' %}
  		<span class="filter-clear2">{{ tag | link_to_remove_tag: tag }}</span>
  		{% else %}
    	{% assign tag_collection = collections[tag] %}
 		<span class="filter-clear2">{{ tag_collection.title | link_to_remove_tag: tag }}</span>
    	{% endif %}
    {% endif %}
{% endfor %}
  <span class="filter-clear3"><a href="{{ collection.url }}">Clear All</a></span></span>
  </div>

{% endif %}






  </div>


      <style>
        .newhome1 {
  cursor: auto;
  text-align: left;
  line-height: 100%;
          margin-bottom: 8px;
        }

        span.newhome {
          color: #50b9dd;
                    text-decoration: underline;

        }
        .newhomeall {
          margin-right: 30px;
        }
        p.newhomeallp {
           color: #50b9dd;
                    text-decoration: underline;
        }



        @media only screen and (max-width: 767px) and (min-width: 480px) {
.three.columns.thumbnail {
  margin: 0.5em 5px;
}
        }

        .homebundle {
 display: inline-block;
  margin: 0 2px;
  height: auto;
  width: 12%;
  vertical-align: top;
}

        @media only screen and (max-width: 479px) {
 .homebundle {
 display: inline-block;
  margin: 0 2px;
  height: auto;
  width: 12%;
  vertical-align: top;
}
}

@media only screen and (min-width: 479px) {
 .homebundle {
 display: inline-block;
  margin: 0 3px;
  height: auto;
  width: 13%;
  vertical-align: top;
}
}

        h4.newhome {
  color: #cc3366;
  text-transform: none;
  border: none;
  padding-bottom: 0;
  margin-bottom: 5px;
}
          .homeban {
            border-style: none inset inset none;
  border-width: 2px;
  border-color: #e3e3e3;
  border-radius: 20px;
            width: 100%;
          }

        a.newhome {
          color: #50b9dd;
  text-decoration: underline;
          padding-bottom: 15px;
        }

          @media only screen and (max-width: 479px) {

          span.newhome {
            font-size: 10px;
          }
        }
      </style>
