{% capture day %}{{ 'now' | date: '%A' }}{% endcapture %}
{% capture time %}{{ 'now' | date: '%H' }}{% endcapture %}
<div class="sixteen columns clearfix collection_nav">
  {% include 'breadcrumbs' %}
</div>

{% include 'sidebar-general', mobile: false, hide_sections: 'vibrators' %}

<div class="twelve columns">
  <ul class="mobile-fblock-grid-1 fblock-grid__expand">
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0386/0093/files/700x200-1.jpg?599024073508909960">
    </li>
  </ul>

  <ul class="mobile-fblock-grid-1 tablet-small-fblock-grid-2 fblock-grid__expand">
    <li>
      <a href="http://simplipleasure.com/collections/luxury-sex-toy-specials-1">
        <img class="bundle1" src="https://cdn.shopify.com/s/files/1/0386/0093/files/350x250-1.jpg?10243436372861395122" tyle="margin-bottom: 0px;margin-top: 0px;">
      </a>
    </li>
    <li>
      <a href="/collections/weekly-deals">
        <img class="bundle1" src="https://cdn.shopify.com/s/files/1/0386/0093/files/350x250-3-3.jpg?10243436372861395122" tyle="margin-bottom: 0px;margin-top: 0px;">
      </a>
    </li>
  </ul>

  <ul class="mobile-fblock-grid-1 tablet-fblock-grid-2">
    <li>
      <a href="https://www.simplipleasure.com/products/mystery-item-female-warehouse-blowout-80-off-retail-price">
        <img src="{{ '../assets/images/mystery-sex-toys-for-women.jpg' | asset_url }}" >
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/products/mystery-item-male-warehouse-blowout-90-off-retail-price">
        <img src="{{ '../assets/images/mystery-sex-toys-for-men.jpg' | asset_url }}" >
      </a>
    </li>

  </ul>

  <ul class="mobile-fblock-grid-2 tablet-small-fblock-grid-4 fblock-grid__expand">
    <li>
      <a href="/collections/save-10" onClick="ga('send', 'event', 'Blowout Page', 'Promo Click Through', 'Save 10');">
        <img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/files/150x150-1-1.jpg?2123524311911091646" style="margin-bottom: 0px;margin-top: 0px;"/>
      </a>
    </li>
    <li>
      <a href="/collections/save-20" onClick="ga('send', 'event', 'Blowout Page', 'Promo Click Through', 'Save 20');">
        <img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/files/150x150-2-2.jpg?7036861547247932934" style="margin-bottom: 0px;margin-top: 0px;"/>
      </a>
    </li>
    <li>
      <a href="/collections/save-30" onClick="ga('send', 'event', 'Blowout Page', 'Promo Click Through', 'Save 30');">
        <img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/files/150x150-3-3.jpg?2123524311911091646" style="margin-bottom: 0px;margin-top: 0px;"/>
      </a>
    </li>
    <li>
      <a href="/collections/daily-deals" onClick="ga('send', 'event', 'Blowout Page', 'Promo Click Through', 'Daily Deals');">
        <img class="bundle2" src="https://cdn.shopify.com/s/files/1/0386/0093/files/150x150-4-4-4.jpg?2123524311911091646" style="margin-bottom: 0px;margin-top: 0px;"/>
      </a>
    </li>
  </ul>

  <br>

  <div class="intro" style="margin-left:12px;">
    <h3 class="newpage">Enjoy these essentials for improved and incredible sex</h3>
    <p>Lube, oils, condoms & more!</p>
  </div>

  <p></p>

  {% include 'sale-page-upsells' %}

  <br>
</div>

<div class="twelve columns">
  <ul class="mobile-fblock-grid-3 fblock-grid__expand">
    <li>
      <a href="/pages/top-10-sex-toys-for-men" onClick="ga('send', 'event', 'Blowout Page', 'Promo Click Through', 'Top 10 Sex Toys For Men');">
        <img class="bundle3" src="https://cdn.shopify.com/s/files/1/0386/0093/files/toptentoysformen1.jpg?599024073508909960">
      </a>
    </li>
    <li>
      <a href="/pages/top-10-sex-toys-for-women" onClick="ga('send', 'event', 'Blowout Page', 'Promo Click Through', 'Top 10 Sex Toys For Women');">
        <img class="bundle3" src="https://cdn.shopify.com/s/files/1/0386/0093/files/toptentoysforwomen1.jpg?599024073508909960">
      </a>
    </li>
    <li>
      <a href="/pages/top-10-sex-toys-for-couples" onClick="ga('send', 'event', 'Blowout Page', 'Promo Click Through', 'Top 10 Sex Toys For Couples');">
        <img class="bundle3" src="https://cdn.shopify.com/s/files/1/0386/0093/files/toptentoysforcouples1.jpg?599024073508909960">
      </a>
    </li>
  </ul>
  <ul class="mobile-fblock-grid-1 fblock-grid__expand">
    <li>
      <a href="/collections/sale-50"><img src="https://cdn.shopify.com/s/files/1/0386/0093/files/first_one.jpg?17818741158745697281" width="98%"></a>
    </li>
  </ul>
  <p></p>
  <p></p>
  <p></p>
</div>

{% include 'sidebar-general', mobile: true, hide_sections: 'vibrators' %}

{% include 'handle_product_form' %}
