
{% include 'sidebar-general', mobile: false %}

<div class="twelve columns">
  {% if collection.handle == "best-selling-vibes-2016-customer-favorites" %}
    <img src="https://cdn.shopify.com/s/files/1/0386/0093/files/700x200.jpg?6099541435362169543">
  {% endif %}

  <h4  class="newhome">Discover The Best Sex Toy Christmas Gifts</h4>

  <p>It's time to have a pleasure filled Christmas! Below we've listed our favorite gifts and deals so you can treat your lover (or yourself) this Christmas! Enjoy!</p>

  <ul class="mobile-fblock-grid-1 tablet-small-fblock-grid-3">
    <li>
      <a href="https://www.simplipleasure.com/collections/best-sex-toy-gifts-for-women">
        <img class="show-for-desktop" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300top10option1-1.jpg?2876955602034970792">
        <img class="hide-for-desktop" src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300top10option1-1.jpg?2876955602034970792">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-sex-toy-gifts-for-men">
        <img class="show-for-desktop" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300top10option1-2.jpg?2876955602034970792">
        <img class="hide-for-desktop" src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300top10option1-2.jpg?2876955602034970792">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-sex-toy-gifts-for-couples">
        <img class="show-for-desktop" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300top10option1-3.jpg?2876955602034970792">
        <img class="hide-for-desktop" src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300top10option1-3.jpg?2876955602034970792">
      </a>
    </li>
  </ul>

  <hr class="home">

  <h4  class="newhome">The Perfect Gifts For Sexy Stocking Stuffers</h4>
  <p>Enjoy these sexy gifts and give your lover a stocking they won't forget anytime soon!</p>


  <ul class="mobile-fblock-grid-1 tablet-small-fblock-grid-2">
    <li>
      <a href="https://www.simplipleasure.com/collections/sexy-christmas-gifts-under-20"><img src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300stockingstuffers20.jpg?2235327781826280462"></a>
    </li>
    <li>
     <a href="https://www.simplipleasure.com/collections/lingerie"><img src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300sexylingerie_d473e921-fb6a-46c8-8011-ead551594c4c.jpg?18407976032515965185"></a>
    </li>
  </ul>


  <hr class="home">
  <h4  class="newhome">Save More With Our Christmas Bundles</h4>
  <p>Mix and match some of our favorite toys below and you can catch discounts of up to 40% off!</p>

  <ul class="mobile-fblock-grid-1 tablet-small-fblock-grid-2">
    <li>
      <a href="https://www.simplipleasure.com/collections/christmas-bundle-2-for-30"><img src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300stockingstuffers30.jpg?2235327781826280462"></a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/christmas-bundle-2-for-60"> <img src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300stockingstuffers60.jpg?2235327781826280462"></a>
    </li>
  </ul>


  <hr class="home">
  <h4  class="newhome">Naughty Or Nice?</h4>
  <p>Here are our favorite gifts for couples to play nice... or play rough. Has someone been a bad boy? Or a naughty girl? Choose wisely!</p>

  <ul class="mobile-fblock-grid-1 tablet-small-fblock-grid-2">
    <li>
      <a href="https://www.simplipleasure.com/collections/naughty-christmas-gifts"><img src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300naughty.jpg?8836589208870481793"></a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/nice-christmas-gifts"> <img src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300nice.jpg?8836589208870481793"></a>
    </li>
  </ul>

  <hr class="home">
  <h4  class="newhome">Still Not Sure? Here's Are Most Sold Toys Guaranteed To Please!</h4>
  <p>These are consistently our stores best selling sex toys. Customers love them - they would make PERFECT gifts!</p>

  {% include 'best-seller-snippet' %}

  {% include 'sidebar-general', hide_sections: 'vibrators', mobile: true %}
</div>