
<meta name="robots" content="noindex">

<link rel="stylesheet" type="text/css" href='{{ "bundle-01_test.css" | asset_url }}'>


<div class="eleven columns ">      
            <a class="buttoncontinue" href="/">&lt;&lt; Continue Shopping</a>
          </div>
<div class="eleven columns hide-for-desktop">      
 <a class="button2" style="width: 90%; margin-bottom: .5em;" href="/cart">Proceed to Cart</a>        
</div>

<hr>
{% include 'TESTING BUNDLE -- DELETE_TEST' %}

<hr>
{% comment %}
{% include 'bundle-product-01' %}
<hr>

<hr>
{% include 'bundle-page-01' %}


{% include 'bundle-cart-form' %}

{% endcomment %}

