<div id="as-root"></div><script>(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;
r=e.createElement(t);r.id=n;r.src="//button.aftership.com/all.js";i.parentNode.insertBefore(r,i)})(document,"script","aftership-jssdk")</script>
<link rel="stylesheet" type="text/css" href='{{ "pre-cart-2.css" | asset_url }}'>

<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

<div class="sixteen columns page">
  <div align="center" class="as-track-button" data-size="large" data-domain="simplipleasure.aftership.com"></div>
    {{ page.content }}
</div>