{% layout "search" %}

<script type="text/javascript">
  console.log("====================   page.search template  =============================")
  console.log(window.location.href)
</script>


<link rel="stylesheet" type="text/css" href='{{ "pre-cart-2.css" | asset_url }}'>

<div class="sixteen columns page">
    {{ page.content }}
</div>