<!-- snippets/best-sellers__women-men-couples-grid.liquid -->
<ul class="show-for-tablet mobile-fblock-grid-3">
  <li>
    <a href="/collections/female-toys">
      <img src="https://cdn.shopify.com/s/files/1/0386/0093/files/toptentoysforwomen1_dfc7af87-015c-4aa7-a5fa-7ba49324eeb2.jpg?12155188028704926775" >
    </a>
  </li>
  <li>
    <a href="/collections/male-toys">
      <img src="https://cdn.shopify.com/s/files/1/0386/0093/files/toptentoysformen1_23573f73-b5c0-4cec-b1ab-ee932e582d3d.jpg?12155188028704926775" >
    </a>
  </li>
  <li>
    <a href="/collections/couples-toys">
      <img src="https://cdn.shopify.com/s/files/1/0386/0093/files/toptentoysforcouples1_8f49de0a-9af8-4ddf-8128-5b7f8abaf927.jpg?12155188028704926775" >
    </a>
  </li>
</ul>
<ul class="hide-for-tablet mobile-fblock-grid-1">
  <li>
    <a href="/collections/female-toys">
      <img src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300-topwomen_1e66ebb9-b98d-4f75-86ae-737112c8b156.jpg?4212842970308166265" >
    </a>
  </li>
  <li>
    <a href="/collections/male-toys">
      <img src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300-topmen_6612a6cc-54d3-4000-8b47-751b6d481bdb.jpg?3507404542910547549" >
    </a>
  </li>
  <li>
    <a href="/collections/couples-toys">
      <img src="https://cdn.shopify.com/s/files/1/0386/0093/files/460x300-topcouples_ee29ed9f-5dc6-432b-a0ea-17bfcfa54395.jpg?4212842970308166265" >
    </a>
  </li>
</ul>
