<!-- snippets/breadcrumbs-index.liquid -->
{% unless template contains 'index' or template contains 'cart' or template contains 'collection' or blog.template_suffix =="about" or article.template_suffix == "buyer-guide" or blog.template_suffix == "buyer-guides" %}

  {% assign breadcrumb_index = 0 %}
  {% assign rootUrl = 'https://www.simplipleasure.com/' %}

  <div id="breadcrumbs" class="sixteen columns clearfix collection_nav">
    <ol class="breadcrumbsol" itemscope itemtype="http://schema.org/BreadcrumbList">
      {% include 'breadcrumbs__item', name: "Home", url: '/', title: "Back to the home page" %}
      {% if template contains 'product' %}
        {% if collection %}
          {% if collection.handle %}
            {% assign url = rootUrl | append: 'collections/' | append: collection.handle %}
            {% include 'breadcrumbs__item', name: collection.title %}
          {% endif %}
        {% else %}
          {% assign vendorHandle = product.vendor | handleize %}
          {% assign url = rootUrl | append: 'collections/' | append: vendorHandle %}
            {% include 'breadcrumbs__item', name: product.vendor %}
        {% endif %}
      {% elsif template contains 'article' %}
        {% assign url = rootUrl | append: 'blogs/' | append: blog.handle %}
        {% include 'breadcrumbs__item', name: blog.title %}
        {% include 'breadcrumbs__item', name: article.title, url: false %}

      {% elsif template contains 'blog' %}
        {% assign url = rootUrl | append: 'blogs/' | append: blog.handle %}
        {% include 'breadcrumbs__item', name: blog.title %}
      {% else %}
        {% include 'breadcrumbs__item', name: page.title, url: false %}
      {% endif %}
    </ol>
  </div>
{% endunless %}
