<!-- snippets/cart-banner-mobile.liquid -->
<div id="cart__cont_text">
  <div class="cart__free_return">
    <h3>FREE RETURNS</h3>
    <p>No matter if you used it or just didn't feel the right connect with it, we will refund your money once your toy(s) are returned at anytime within the 60 days from your original purchase (we'll even pay the return shipping).</p>
  </div>
  <div class="cart__free_exchanges">
    <h3>FREE EXCHANGES</h3>
    <p>Did your toy break? Was it too big? Or too small? No matter what the reason is we would love to exchange it for you. For up to 60 days from your original purchase we'll exchange your toy for a gift card to our store, of equal value to the toy you original purchased.</p>
  </div>
  <div class="cart__free_discreet">
    <h3>100% DISCREET SHIPPING & BILLING</h3>
    <p>There's no need to worry about nosy neighbors! All of our billing is anonymous and our shipping comes in plain boring brown boxes. You won't even know it's a sex toy!</p>
  </div>
</div>
<!-- END: snippets/cart-banner-mobile.liquid -->