<!--snippets/cart-banner.liquid -->

<div class="sixteen columns desktop-extend">
  <div class="section clearfix featured_content">
    <hr>
    <div class="table-1">
      <table class="ctable-1">
        <tbody>
          <tr>
            <td><img src="{{ '../assets/images/returns.png' | asset_url }}" width="80px" height="80px"/></td>
            <td>
              <div>
                <h4><strong>Enjoy Our Hassle Free Returns!</strong></h4>
              </div>
              <div>Was your product defective? Don't worry! We offer hassle free returns on all <strong>defective</strong> products sent out.</div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="ctable-2">
        <tbody>
          <tr>
            <td>
              <img src="{{ '../assets/images/customer_service.png' | asset_url }}" width="80px" height="80px" />
            </td>
            <td>
              <div>
                <h4><strong>Fast Customer Support</strong></h4>
              </div>
              <div>If you have any questions or concerns please call a live rep at 1-800-918-6308! </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-2">
      <table class="ctable-3">
        <tbody>
          <tr>
            <td>
              <img src="{{ '../assets/images/private.png' | asset_url }}" width="80px" height="80px"/>
            </td>
            <td>
              <div>
                <h4><strong>Safe &amp; Secure Shopping Guarantee</strong></h4>
              </div>
              <div>All information is encrypted and transmitted without risk using a Secure Sockets Layer (SSL) protocol provided by McAfee Secure &amp; Shopify SSL.</div>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="ctable-4">
        <tbody>
          <tr>
            <td>
              <img alt="Discreet Billing and Shipping" src="{{ '../assets/images/discreet.png' | asset_url }}" width="80px" height="80px" />
            </td>
            <td>
              <div>
                <h4><strong>100% Discreet Shipping &amp; Billing</strong></h4>
              </div>
              <div>There's no need to worry about nosy neighbors! All of our billing is anonymous and our shipping comes in plain boring brown boxes. You won't even know it's a sex toy!</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- END: snippets/cart-banner.liquid -->
