<!-- snippets/collection__vibrators-best-guide.liquid -->

{% assign _has_guide = true %}
<ul class="mobile-fblock-grid-2 fblock-grid__tight">
  {% case collection.handle %}
  {% when "vibrators-wand" %}
    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/which-magic-wand-vibrator-is-the-best">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/magicwandvibrator.jpg?15260224923031134531" alt="Which Magic Wand Is The Best?">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300magicwand.jpg?15260224923031134531" alt="Which Magic Wand Is The Best?">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-magic-wand-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingmagicwandvibrator.jpg?15260224923031134531" alt="Top 10 Best Selling Magic Wand Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingmagicwandvibrators.jpg?15260224923031134531" alt="Top 10 Best Selling Magic Wand Vibrators">
      </a>
    </li>

  {% when "vibrators-couples" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/beginners-guide-to-better-sex-with-couples-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/couplesvibrator.jpg?14404737241112494150" alt="Better Sex With Couples Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300couplesvibrator.jpg?14404737241112494150" alt="Better Sex With Couples Vibrators">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-couples-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingcouplesvibrator.jpg?13127430800847861968" alt="Top 10 Best Selling Couples Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingcouplesvibrator.jpg?13127430800847861968" alt="Top 10 Best Selling Couples Vibrators">
      </a>

  {% when "vibrators-rabbit" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/which-is-the-best-rabbit-vibrator">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/rabbitvibrator.jpg?14404737241112494150" alt="Which is The best Rabbit Vibrator?">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300rabbitvibrator.jpg?14404737241112494150" alt="Which is The best Rabbit Vibrator?">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-rabbit-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingrabbitvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Rabbit Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingrabbitvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Rabbit Vibrators">
      </a>
    </li>

  {% when "vibrators-g-spot" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/how-to-choose-use-the-best-g-spot-vibrator">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/gspotvibrator.jpg?14404737241112494150" alt="How To Choose The Best G-Spot Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300g-spot.jpg?14404737241112494150" alt="How To Choose The Best G-Spot Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-g-spot-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellinggspotvibrator.jpg?13127430800847861968" alt="Top 10 Best Selling G-Spot Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellinggspotvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling G-Spot Vibrators">
      </a>
    </li>

  {% when "vibrators-clitoral" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/clitoral-vibrator-buying-guide">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/clitoralvibrator.jpg?14404737241112494150" alt="How To Choose The Best Clitoral Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300clitoralvibrator.jpg?14404737241112494150" alt="How To Choose The Best Clitoral Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-clitoral-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingclitoralvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Clitoral Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingclitoralvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Clitoral Vibrators">
      </a>
    </li>

  {% when "vibrators-dual" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/choosing-the-right-dual-action-vibrator">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/dualactionvibrator.jpg?14404737241112494150"  alt="How To Choose The Best Dual Action Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300dualactionvibrator.jpg?14404737241112494150"  alt="How To Choose The Best Dual Action Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-dual-action-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingdualactionvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Dual Action Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingdualactionvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Dual Action Vibrators">
      </a>
    </li>

  {% when "vibrators-massager" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/massager-vibrator-buying-guide">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/massagervibrator.jpg?14404737241112494150" alt="Massager Vibrator Buying Guide">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300massagervibrator.jpg?14404737241112494150" alt="Massager Vibrator Buying Guide">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-massager-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingmassagervibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Massager Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingmassagervibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Massager Vibrators">
      </a>
    </li>

  {% when "vibrators-remote" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/remote-control-vibrator-buying-guide">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/remotecontrolvibrator.jpg?14404737241112494150" alt="Remote Control Vibrator Buying Guide">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300remotecontrolvibrator.jpg?14404737241112494150" alt="Remote Control Vibrator Buying Guide">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-remote-control-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingremotecontrolvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Remote Control Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingremotecontrolvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Remote Control Vibrators">
      </a>
    </li>

  {% when "vibrators-bullet" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/bullet-vibrator-buying-guide">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bulletvibrator.jpg?14404737241112494150"  alt="How To Choose The Best Bullet Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300new2.jpg?14404737241112494150"  alt="How To Choose The Best Bullet Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-bullet-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingbulletvibrator.jpg?13127430800847861968" alt="Top 10 Best Selling Bullet Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingbulletvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Bullet Vibrators">
      </a>
    </li>

  {% when "vibrators-large" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/large-vibrator-buying-guide">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/largevibrator.jpg?14404737241112494150"  alt="How To Choose The Best Large Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300largevibrator.jpg?14404737241112494150"  alt="How To Choose The Best Large Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-large-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellinglargevibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Large Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellinglargevibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Large Vibrators">
      </a>
    </li>

  {% when "vibrators-quiet" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/a-guide-to-buying-extra-quiet-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/520x260extraquietguide.jpg?17461845815149629296" alt="How To Choose The Best Quiet Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300extraquietvibratorguide_842dbef1-c2e5-4811-b3a4-4c181c2f5e1d.jpg?17461845815149629296" alt="How To Choose The Best Quiet Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-quiet-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/520x260-bestsellingquietvibrators.jpg?265794533142961183" alt="Top 10 Best Selling Quiet Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300-bestsellingquietvibrators.jpg?265794533142961183" alt="Top 10 Best Selling Quiet Vibrators">
      </a>
    </li>

  {% when "vibrators-luxury" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/your-guide-to-luxury-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/luxuryvibrator.jpg?14404737241112494150"  alt="How To Choose The Best Luxury Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300luxuryvibrator.jpg?14404737241112494150"  alt="How To Choose The Best Luxury Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-luxury-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingluxuryvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Luxury Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingluxuryvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Luxury Vibrators">
      </a>
    </li>

  {% when "vibrators-discreet" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/which-vibrators-are-the-most-discreet">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/discreetvibrator.jpg?14404737241112494150"  alt="How To Choose The Best Discreet Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300discreetvibrator.jpg?14404737241112494150"  alt="How To Choose The Best Discreet Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-discreet-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingdiscreetvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Discreet Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingdiscreetvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Discreet Vibrators">
      </a>
    </li>

  {% when "vibrators-anal" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/how-to-choose-the-best-anal-vibrator">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/520x260anallvibratorguide.jpg?17461845815149629296"  alt="How To Choose The Best Anal Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300analvibratorguide_dd5e47e0-1f67-44ee-8e1d-5e8f2d5622d3.jpg"  alt="How To Choose The Best Anal Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-anal-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellinganalvibrator.jpg?13127430800847861968" alt="Top 10 Best Selling Anal Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300new1.jpg?13127430800847861968" alt="Top 10 Best Selling Anal Vibrators">
      </a>
    </li>

  {% when "vibrators-classic" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/beginners-guide-to-classic-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/classicvibrator.jpg?14404737241112494150" alt="How To Choose The Best Classic Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300X300classicvibrator.jpg?14404737241112494150" alt="How To Choose The Best Classic Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-classic-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingclassicvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Classic Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingclassicvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Classic Vibrators">
      </a>
    </li>
  {% when "vibrators-egg" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/egg-vibrator-buying-guide">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/eggvibrator.jpg?14404737241112494150" alt="Top 10 Best Selling Egg Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300eggvibrator.jpg?14404737241112494150" alt="How To Choose The Best Egg Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-egg-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingeggvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Egg Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingeggvibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Egg Vibrators">
      </a>
    </li>

  {% when "vibrators-finger" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/finger-vibrator-buying-guide">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/fingervibrator.jpg?14404737241112494150" alt="How To Choose The Best Finger Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300fingervibrator.jpg?14404737241112494150" alt="How To Choose The Best Finger Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-finger-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingfingervibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Finger Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingfingervibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Finger Vibrators">
      </a>
    </li>

  {% when "vibrators-realistic" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/how-to-choose-a-realistic-dildo">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/realisticdildovibrator.jpg?14404737241112494150" alt="How To Choose The Best Realistic Vibrator">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300realisticdildo.jpg?14404737241112494150" alt="How To Choose The Best Realistic Vibrator">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-realistic-dildo-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingrealisticdildovibrator.jpg?13127430800847861968" alt="Top 10 Best Selling Realistic Dildo Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingrealisticdildovibrators.jpg?13127430800847861968" alt="Top 10 Best Selling Realistic Dildo Vibrators">
      </a>
    </li>

  {% when "vibrators-attachments" %}

    <li>
      <a href="https://www.simplipleasure.com/blogs/vibrator-buying-guides/vibrator-attachments-buying-guide">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/vibratorattachments.jpg?14404737241112494150" alt="Best Attachments For Magic Wand Vibrators">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300vibratorattachments.jpg?14404737241112494150" alt="Best Attachments For Magic Wand Vibrators">
      </a>
    </li>
    <li>
      <a href="https://www.simplipleasure.com/collections/best-selling-attachments-for-vibrators">
        <img class="show-for-tablet" src="https://cdn.shopify.com/s/files/1/0386/0093/files/bestsellingvibratorattachments.jpg?13127430800847861968" alt="Top 10 Best Selling Vibrator Attachments">
        <img class="show-for-mobile-only" src="https://cdn.shopify.com/s/files/1/0386/0093/files/300x300bestsellingvibratorattachments.jpg?13127430800847861968" alt="Top 10 Best Selling Vibrator Attachments">
      </a>
    </li>
  {% else %}
    {% assign _has_guide = false %}
  {% endcase %}
</ul>

{% if _has_guide %}
  <hr>
{% endif %}

<!-- snippets/collection__vibrators-best-guide.liquid -->