<ul class="nav_buttons menu">
  <li class="navicon_button">
    <a href="#" class="navicon" title="{{ 'layout.general.menu' | t }}">{{ 'layout.general.menu' | t }}</a>
  </li>
  <li class="cartcounter">
    {% include 'cart-counter' %}
  </li>
</ul>