<!--snippets/hello-bar-mobile.liquid -->
<div class="sixteen columns hide-for-desktop hello-bar">
  <div class="hello-bar-content">
    <div align="center">
      <a href="http://simplipleasure.com/pages/info" class="ciq_cimp_2_banner">
        <span>Free Fast Shipping On Orders $59.99</span><span>Discreet &amp; Safe Billing &amp; Shipping</span>
      </a>
    </div>
  </div>
</div>
