<div class="container-bottom-nwsltr">
  <div class="newsletter">

  	<h6>{{ 'general.klaviyo_form.title' | t }}</h6>
    <form id="k_id_embedded_subscription_form" class="klaviyo_form" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
      <div id="error-message"></div>
      <input type="hidden" name="g" value="agc3qH">
      <input type="email" name="email" class="contact_email" placeholder="{{ 'general.klaviyo_form.placeholder' | t }}">
      <input type="submit" value="{{ 'general.klaviyo_form.submit' | t }}" class="action_button sign_up" name="subscribe" />

      <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
    </form>

    <p>{{ 'general.klaviyo_form.description' | t }}</p>
  </div>
</div>