<!-- snippets/mobile-filter-main-cats.liquid -->
{% assign collection_parent = collection.metafields.LOC.collection_parent %}

<ul class="nav-categories blog_list toggle_list">

{% if collection.template_suffix == "collection-anal-sex-toys" %}

  {% if collection.handle == 'anal-sex-toys-beads' %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Anal Beads</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a href="/collections/anal-sex-toys-beads"><i class="check-icon"></i> Anal Beads</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-dildos' %}
    <li class="collection-container anal-sex-toys-dildos active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Anal Dildos</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-dildos active "><div class="collection-name"><a href="/collections/anal-sex-toys-dildos"><i class="check-icon"></i> Anal Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-probes' %}
    <li class="collection-container anal-sex-toys-probes active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Anal Probes</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-probes active "><div class="collection-name"><a href="/collections/anal-sex-toys-probes"><i class="check-icon"></i> Anal Probes</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-hygiene' %}
    <li class="collection-container anal-sex-toys-hygiene active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Anal Hygiene</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-hygiene active "><div class="collection-name"><a href="/collections/anal-sex-toys-hygiene"><i class="check-icon"></i> Anal Hygiene</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-animal-tail' %}
    <li class="collection-container anal-sex-toys-animal-tail active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Animal Tail Toys</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-animal-tail active "><div class="collection-name"><a href="/collections/anal-sex-toys-animal-tail"><i class="check-icon"></i> Animal Tail Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-jeweled' %}
    <li class="collection-container anal-sex-toys-jeweled active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Jeweled Anal Toys</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-jeweled active "><div class="collection-name"><a href="/collections/anal-sex-toys-jeweled"><i class="check-icon"></i> Jeweled Anal Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-beginner' %}
    <li class="collection-container anal-sex-toys-beginner active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Beginner Anal Toys</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beginner active "><div class="collection-name"><a href="/collections/anal-sex-toys-beginner"><i class="check-icon"></i> Beginner Anal Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-kit' %}
    <li class="collection-container anal-sex-toys-kit active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Anal Toy Kits</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-kit active "><div class="collection-name"><a href="/collections/anal-sex-toys-kit"><i class="check-icon"></i> Anal Toy Kits</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-butt-plugs' %}
    <li class="collection-container anal-sex-toys-butt-plugs active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Butt Plug Toys</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-butt-plugs active "><div class="collection-name"><a href="/collections/anal-sex-toys-butt-plugs"><i class="check-icon"></i> Butt Plug Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-glass' %}
    <li class="collection-container anal-sex-toys-glass active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Glass Anal Toys</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-glass active "><div class="collection-name"><a href="/collections/anal-sex-toys-glass"><i class="check-icon"></i> Glass Anal Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-inflatable' %}
    <li class="collection-container anal-sex-toys-inflatable active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Inflatable Anal Toys</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-inflatable active "><div class="collection-name"><a href="/collections/anal-sex-toys-inflatable"><i class="check-icon"></i> Inflatable Anal Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-large' %}
    <li class="collection-container anal-sex-toys-large active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Large Anal Toys</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-large active "><div class="collection-name"><a href="/collections/anal-sex-toys-large"><i class="check-icon"></i> Large Anal Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-prostate' %}
    <li class="collection-container anal-sex-toys-prostate active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Male Prostate Massagers</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-prostate active "><div class="collection-name"><a href="/collections/anal-sex-toys-prostate"><i class="check-icon"></i> Male Prostate Massagers</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-metal' %}
    <li class="collection-container anal-sex-toys-metal active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Metal Anal Toys</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-metal active "><div class="collection-name"><a href="/collections/anal-sex-toys-metal"><i class="check-icon"></i> Metal Anal Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'anal-sex-toys-small' %}
    <li class="collection-container anal-sex-toys-small active selected "><div class="collection-name"><a href="/collections/anal-sex-toys"><i class="check-icon"></i> Small Anal Toys</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-small active "><div class="collection-name"><a href="/collections/anal-sex-toys-small"><i class="check-icon"></i> Small Anal Toys</a></div></li>
  {% endif %}

{% elsif collection.template_suffix == "collection-butt-plugs" %}


  {% if collection.handle == 'butt-plugs-animal-tail' %}
    <li class="collection-container butt-plugs-animal-tail active selected "><div class="collection-name"><a href="/collections/butt-plugs"><i class="check-icon"></i> Animal Tail Butt Plugs</a></div></li>
  {% else %}
    <li class="collection-container butt-plugs-animal-tail active "><div class="collection-name"><a href="/collections/butt-plugs-animal-tail"><i class="check-icon"></i> Animal Tail Butt Plugs</a></div></li>
  {% endif %}

  {% if collection.handle == 'butt-plugs-beginner' %}
    <li class="collection-container butt-plugs-beginner active selected "><div class="collection-name"><a href="/collections/butt-plugs"><i class="check-icon"></i> Beginner Butt Plugs</a></div></li>
  {% else %}
    <li class="collection-container butt-plugs-beginner active "><div class="collection-name"><a href="/collections/butt-plugs-beginner"><i class="check-icon"></i> Beginner Butt Plugs</a></div></li>
  {% endif %}

  {% if collection.handle == 'butt-plugs-kit' %}
    <li class="collection-container butt-plugs-kit active selected "><div class="collection-name"><a href="/collections/butt-plugs"><i class="check-icon"></i> Butt Plug Sets</a></div></li>
  {% else %}
    <li class="collection-container butt-plugs-kit active "><div class="collection-name"><a href="/collections/butt-plugs-kit"><i class="check-icon"></i> Butt Plug Sets</a></div></li>
  {% endif %}

  {% if collection.handle == 'butt-plugs-glass' %}
    <li class="collection-container butt-plugs-glass active selected "><div class="collection-name"><a href="/collections/butt-plugs"><i class="check-icon"></i> Glass Butt Plugs</a></div></li>
  {% else %}
    <li class="collection-container butt-plugs-glass active "><div class="collection-name"><a href="/collections/butt-plugs-glass"><i class="check-icon"></i> Glass Butt Plugs</a></div></li>
  {% endif %}

  {% if collection.handle == 'butt-plugs-inflatable' %}
    <li class="collection-container butt-plugs-inflatable active selected "><div class="collection-name"><a href="/collections/butt-plugs"><i class="check-icon"></i> Inflatable Butt Plugs</a></div></li>
  {% else %}
    <li class="collection-container butt-plugs-inflatable active "><div class="collection-name"><a href="/collections/butt-plugs-inflatable"><i class="check-icon"></i> Inflatable Butt Plugs</a></div></li>
  {% endif %}

  {% if collection.handle == 'butt-plugs-jeweled' %}
    <li class="collection-container butt-plugs-jeweled active selected "><div class="collection-name"><a href="/collections/butt-plugs"><i class="check-icon"></i> Jeweled Butt Plugs</a></div></li>
  {% else %}
    <li class="collection-container butt-plugs-jeweled active "><div class="collection-name"><a href="/collections/butt-plugs-jeweled"><i class="check-icon"></i> Jeweled Butt Plugs</a></div></li>
  {% endif %}

  {% if collection.handle == 'butt-plugs-large' %}
    <li class="collection-container butt-plugs-large active selected "><div class="collection-name"><a href="/collections/butt-plugs"><i class="check-icon"></i> Large Butt Plugs</a></div></li>
  {% else %}
    <li class="collection-container butt-plugs-large active "><div class="collection-name"><a href="/collections/butt-plugs-large"><i class="check-icon"></i> Large Butt Plugs</a></div></li>
  {% endif %}

  {% if collection.handle == 'butt-plugs-metal' %}
    <li class="collection-container butt-plugs-metal active selected "><div class="collection-name"><a href="/collections/butt-plugs"><i class="check-icon"></i> Metal Butt Plugs</a></div></li>
  {% else %}
    <li class="collection-container butt-plugs-metal active "><div class="collection-name"><a href="/collections/butt-plugs-metal"><i class="check-icon"></i> Metal Butt Plugs</a></div></li>
  {% endif %}

  {% if collection.handle == 'butt-plugs-non-vibe' %}
    <li class="collection-container butt-plugs-non-vibe active selected "><div class="collection-name"><a href="/collections/butt-plugs"><i class="check-icon"></i> Non-Vibrating Butt Plugs</a></div></li>
  {% else %}
    <li class="collection-container butt-plugs-non-vibe active "><div class="collection-name"><a href="/collections/butt-plugs-non-vibe"><i class="check-icon"></i> Non-Vibrating Butt Plugs</a></div></li>
  {% endif %}

  {% if collection.handle == 'butt-plugs-vibrates' %}
    <li class="collection-container butt-plugs-vibrates active selected "><div class="collection-name"><a href="/collections/butt-plugs"><i class="check-icon"></i> Vibrating Butt Plugs</a></div></li>
  {% else %}
    <li class="collection-container butt-plugs-vibrates active "><div class="collection-name"><a href="/collections/butt-plugs-vibrates"><i class="check-icon"></i> Vibrating Butt Plugs</a></div></li>
  {% endif %}


{% elsif collection.template_suffix == "collection-male-toys" %}



  {% if collection.handle == 'male-toys-fleshlights' %}
    <li class="collection-container male-toys-cock-rings active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Fleshlights</a></div></li>
  {% else %}
    <li class="collection-container male-toys-cock-rings active "><div class="collection-name"><a href="/collections/male-toys-fleshlights"><i class="check-icon"></i> Fleshlights</a></div></li>
  {% endif %}


  {% if collection.handle == 'male-toys-cock-rings' %}
    <li class="collection-container male-toys-cock-rings active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Cock Rings</a></div></li>
  {% else %}
    <li class="collection-container male-toys-cock-rings active "><div class="collection-name"><a href="/collections/male-toys-cock-rings"><i class="check-icon"></i> Cock Rings</a></div></li>
  {% endif %}

  {% if collection.handle == 'male-toys-masturbators' %}
    <li class="collection-container male-toys-masturbators active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Male Masturbators</a></div></li>
  {% else %}
    <li class="collection-container male-toys-masturbators active "><div class="collection-name"><a href="/collections/male-toys-masturbators"><i class="check-icon"></i> Male Masturbators</a></div></li>
  {% endif %}

  {% if collection.handle == 'male-toys-vibrators' %}
    <li class="collection-container male-toys-vibrators active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Male Vibrators</a></div></li>
  {% else %}
    <li class="collection-container male-toys-vibrators active "><div class="collection-name"><a href="/collections/male-toys-vibrators"><i class="check-icon"></i> Male Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'male-toys-pumps' %}
    <li class="collection-container male-toys-pumps active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Penis Pumps & Enlargers</a></div></li>
  {% else %}
    <li class="collection-container male-toys-pumps active "><div class="collection-name"><a href="/collections/male-toys-pumps"><i class="check-icon"></i> Penis Pumps & Enlargers</a></div></li>
  {% endif %}

  {% if collection.handle == 'male-toys-sleeves' %}
    <li class="collection-container male-toys-sleeves active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Penis Sleeves & Extensions</a></div></li>
  {% else %}
    <li class="collection-container male-toys-sleeves active "><div class="collection-name"><a href="/collections/male-toys-sleeves"><i class="check-icon"></i> Penis Sleeves & Extensions</a></div></li>
  {% endif %}

  {% if collection.handle == 'male-toys-prostate' %}
    <li class="collection-container male-toys-prostate active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Prostate Massagers</a></div></li>
  {% else %}
    <li class="collection-container male-toys-prostate active "><div class="collection-name"><a href="/collections/male-toys-prostate"><i class="check-icon"></i> Prostate Massagers</a></div></li>
  {% endif %}

  {% if collection.handle == 'male-toys-real-butts' %}
    <li class="collection-container male-toys-real-butts active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Realistic Butts</a></div></li>
  {% else %}
    <li class="collection-container male-toys-real-butts active "><div class="collection-name"><a href="/collections/male-toys-real-butts"><i class="check-icon"></i> Realistic Butts</a></div></li>
  {% endif %}

  {% if collection.handle == 'male-toys-real-vaginas' %}
    <li class="collection-container male-toys-real-vaginas active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Realistic Vaginas</a></div></li>
  {% else %}
    <li class="collection-container male-toys-real-vaginas active "><div class="collection-name"><a href="/collections/male-toys-real-vaginas"><i class="check-icon"></i> Realistic Vaginas</a></div></li>
  {% endif %}

  {% if collection.handle == 'male-toys-dolls' %}
    <li class="collection-container male-toys-dolls active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Sex Dolls</a></div></li>
  {% else %}
    <li class="collection-container male-toys-dolls active "><div class="collection-name"><a href="/collections/male-toys-dolls"><i class="check-icon"></i> Sex Dolls</a></div></li>
  {% endif %}

  {% if collection.handle == 'male-toys-tenga' %}
    <li class="collection-container male-toys-tenga active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> TENGA & Flip Hole</a></div></li>
  {% else %}
    <li class="collection-container male-toys-tenga active "><div class="collection-name"><a href="/collections/male-toys-tenga"><i class="check-icon"></i> TENGA & Flip Hole</a></div></li>
  {% endif %}

  {% if collection.handle == 'male-toys-hollow' %}
    <li class="collection-container male-toys-hollow active selected "><div class="collection-name"><a href="/collections/male-toys"><i class="check-icon"></i> Hollow Strap On</a></div></li>
  {% else %}
    <li class="collection-container male-toys-hollow active "><div class="collection-name"><a href="/collections/male-toys-hollow"><i class="check-icon"></i> Hollow Strap On</a></div></li>
  {% endif %}

{% elsif collection.template_suffix == "collection-her" %}



  {% if collection.handle == 'female-vibrators' %}
    <li class="collection-container female-vibrators active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> Vibrators</a></div></li>
  {% else %}
    <li class="collection-container female-vibrators active "><div class="collection-name"><a href="/collections/female-vibrators"><i class="check-icon"></i> Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'female-rabbits' %}
    <li class="collection-container female-vibrators active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> Rabbit Vibrators</a></div></li>
  {% else %}
    <li class="collection-container female-vibrators active "><div class="collection-name"><a href="/collections/female-rabbits"><i class="check-icon"></i> Rabbit Vibrators</a></div></li>
  {% endif %}



  {% if collection.handle == 'female-clitoral' %}
    <li class="collection-container female-vibrators active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> Clitoral Vibrators</a></div></li>
  {% else %}
    <li class="collection-container female-vibrators active "><div class="collection-name"><a href="/collections/female-clitoral"><i class="check-icon"></i> Clitoral Vibrators</a></div></li>
  {% endif %}




  {% if collection.handle == 'female-recharge' %}
    <li class="collection-container female-vibrators active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> Rechargeable Vibrators</a></div></li>
  {% else %}
    <li class="collection-container female-vibrators active "><div class="collection-name"><a href="/collections/female-recharge"><i class="check-icon"></i> Rechargeable Vibrators</a></div></li>
  {% endif %}




  {% if collection.handle == 'female-luxury' %}
    <li class="collection-container female-vibrators active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> Luxury Vibrators</a></div></li>
  {% else %}
    <li class="collection-container female-vibrators active "><div class="collection-name"><a href="/collections/female-luxury"><i class="check-icon"></i> Luxury Vibrators</a></div></li>
  {% endif %}




  {% if collection.handle == 'female-g-spot' %}
    <li class="collection-container female-vibrators active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> G-Spot Vibrators</a></div></li>
  {% else %}
    <li class="collection-container female-vibrators active "><div class="collection-name"><a href="/collections/female-g-spot"><i class="check-icon"></i> G-Spot Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'female-dildos' %}
    <li class="collection-container female-dildos active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> Dildos</a></div></li>
  {% else %}
    <li class="collection-container female-dildos active "><div class="collection-name"><a href="/collections/female-dildos"><i class="check-icon"></i> Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'female-anal-toys' %}
    <li class="collection-container female-anal-toys active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> Anal Toys</a></div></li>
  {% else %}
    <li class="collection-container female-anal-toys active "><div class="collection-name"><a href="/collections/female-anal-toys"><i class="check-icon"></i> Anal Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'female-ben-wa-balls' %}
    <li class="collection-container female-ben-wa-balls active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> Ben Wa Balls</a></div></li>
  {% else %}
    <li class="collection-container female-ben-wa-balls active "><div class="collection-name"><a href="/collections/female-ben-wa-balls"><i class="check-icon"></i> Ben Wa Balls</a></div></li>
  {% endif %}

  {% if collection.handle == 'female-nipple-toys' %}
    <li class="collection-container female-nipple-toys active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> Nipple Toys</a></div></li>
  {% else %}
    <li class="collection-container female-nipple-toys active "><div class="collection-name"><a href="/collections/female-nipple-toys"><i class="check-icon"></i> Nipple Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'female-essentials' %}
    <li class="collection-container female-essentials active selected "><div class="collection-name"><a href="/collections/female-toys"><i class="check-icon"></i> Essentials For Her</a></div></li>
  {% else %}
    <li class="collection-container female-essentials active "><div class="collection-name"><a href="/collections/female-essentials"><i class="check-icon"></i> Essentials For Her</a></div></li>
  {% endif %}




{% elsif collection.template_suffix == "couples" %}



  {% if collection.handle == 'couples-cock-rings' %}
    <li class="collection-container couples-cock-rings active selected "><div class="collection-name"><a href="/collections/couples-toys"><i class="check-icon"></i> Couples Cock Rings</a></div></li>
  {% else %}
    <li class="collection-container couples-cock-rings active "><div class="collection-name"><a href="/collections/couples-cock-rings"><i class="check-icon"></i> Couples Cock Rings</a></div></li>
  {% endif %}

  {% if collection.handle == 'couples-bondage' %}
    <li class="collection-container couples-bondage active selected "><div class="collection-name"><a href="/collections/couples-toys"><i class="check-icon"></i> Bondage Toys</a></div></li>
  {% else %}
    <li class="collection-container couples-bondage active "><div class="collection-name"><a href="/collections/couples-bondage"><i class="check-icon"></i> Bondage Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'couples-swings' %}
    <li class="collection-container couples-swings active selected "><div class="collection-name"><a href="/collections/couples-toys"><i class="check-icon"></i> Sex Swings</a></div></li>
  {% else %}
    <li class="collection-container couples-swings active "><div class="collection-name"><a href="/collections/couples-swings"><i class="check-icon"></i> Sex Swings</a></div></li>
  {% endif %}

  {% if collection.handle == 'couples-furniture' %}
    <li class="collection-container couples-furniture active selected "><div class="collection-name"><a href="/collections/couples-toys"><i class="check-icon"></i> Sex Furniture</a></div></li>
  {% else %}
    <li class="collection-container couples-furniture active "><div class="collection-name"><a href="/collections/couples-furniture"><i class="check-icon"></i> Sex Furniture</a></div></li>
  {% endif %}

  {% if collection.handle == 'couples-strap-ons' %}
    <li class="collection-container couples-strap-ons active selected "><div class="collection-name"><a href="/collections/couples-toys"><i class="check-icon"></i> Strap Ons & Harnesses</a></div></li>
  {% else %}
    <li class="collection-container couples-strap-ons active "><div class="collection-name"><a href="/collections/couples-strap-ons"><i class="check-icon"></i> Strap Ons & Harnesses</a></div></li>
  {% endif %}

  {% if collection.handle == 'couples-sex-toys' %}
    <li class="collection-container couples-sex-toys active selected "><div class="collection-name"><a href="/collections/couples-toys"><i class="check-icon"></i> Couples Sex Toys</a></div></li>
  {% else %}
    <li class="collection-container couples-sex-toys active "><div class="collection-name"><a href="/collections/couples-sex-toys"><i class="check-icon"></i> Couples Sex Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'couples-games' %}
    <li class="collection-container couples-games active selected "><div class="collection-name"><a href="/collections/couples-toys"><i class="check-icon"></i> Sex Games</a></div></li>
  {% else %}
    <li class="collection-container couples-games active "><div class="collection-name"><a href="/collections/couples-games"><i class="check-icon"></i> Sex Games</a></div></li>
  {% endif %}

  {% if collection.handle == 'couples-enhancers' %}
    <li class="collection-container couples-enhancers active selected "><div class="collection-name"><a href="/collections/couples-toys"><i class="check-icon"></i> Sex Enhancers</a></div></li>
  {% else %}
    <li class="collection-container couples-enhancers active "><div class="collection-name"><a href="/collections/couples-enhancers"><i class="check-icon"></i> Sex Enhancers</a></div></li>
  {% endif %}

{% elsif collection.template_suffix == "collection-dildos" %}




  {% if collection.handle == 'dildos-black' %}
    <li class="collection-container dildos-black active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Black Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-black active "><div class="collection-name"><a href="/collections/dildos-black"><i class="check-icon"></i> Black Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-double' %}
    <li class="collection-container dildos-double active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Double Ended Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-double active "><div class="collection-name"><a href="/collections/dildos-double"><i class="check-icon"></i> Double Ended Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-ejaculating' %}
    <li class="collection-container dildos-ejaculating active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Ejaculating Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-ejaculating active "><div class="collection-name"><a href="/collections/dildos-ejaculating"><i class="check-icon"></i> Ejaculating Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-glass' %}
    <li class="collection-container dildos-glass active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Glass Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-glass active "><div class="collection-name"><a href="/collections/dildos-glass"><i class="check-icon"></i> Glass Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-harness' %}
    <li class="collection-container dildos-harness active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Harness Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-harness active "><div class="collection-name"><a href="/collections/dildos-harness"><i class="check-icon"></i> Harness Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-homemade' %}
    <li class="collection-container dildos-homemade active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Homemade Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-homemade active "><div class="collection-name"><a href="/collections/dildos-homemade"><i class="check-icon"></i> Homemade Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-large' %}
    <li class="collection-container dildos-large active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Large Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-large active "><div class="collection-name"><a href="/collections/dildos-large"><i class="check-icon"></i> Large Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-metal' %}
    <li class="collection-container dildos-metal active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Metal Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-metal active "><div class="collection-name"><a href="/collections/dildos-metal"><i class="check-icon"></i> Metal Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-realistic' %}
    <li class="collection-container dildos-realistic active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Realistic Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-realistic active "><div class="collection-name"><a href="/collections/dildos-realistic"><i class="check-icon"></i> Realistic Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-silicone' %}
    <li class="collection-container dildos-silicone active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Silicone Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-silicone active "><div class="collection-name"><a href="/collections/dildos-silicone"><i class="check-icon"></i> Silicone Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-small' %}
    <li class="collection-container dildos-small active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Small Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-small active "><div class="collection-name"><a href="/collections/dildos-small"><i class="check-icon"></i> Small Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-strapless' %}
    <li class="collection-container dildos-strapless active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Strapless Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-strapless active "><div class="collection-name"><a href="/collections/dildos-strapless"><i class="check-icon"></i> Strapless Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-vibrates' %}
    <li class="collection-container dildos-vibrates active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Vibrating Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-vibrates active "><div class="collection-name"><a href="/collections/dildos-vibrates"><i class="check-icon"></i> Vibrating Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-suction-cup' %}
    <li class="collection-container dildos-suction-cup active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Suction Cup Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-suction-cup active "><div class="collection-name"><a href="/collections/dildos-suction-cup"><i class="check-icon"></i> Suction Cup Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-porn-star' %}
    <li class="collection-container dildos-porn-star active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> Porn Star Molded Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-porn-star active "><div class="collection-name"><a href="/collections/dildos-porn-star"><i class="check-icon"></i> Porn Star Molded Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'dildos-g-spot' %}
    <li class="collection-container dildos-g-spot active selected "><div class="collection-name"><a href="/collections/dildos"><i class="check-icon"></i> G-Spot Dildos</a></div></li>
  {% else %}
    <li class="collection-container dildos-g-spot active "><div class="collection-name"><a href="/collections/dildos-g-spot"><i class="check-icon"></i> G-Spot Dildos</a></div></li>
  {% endif %}


{% elsif collection.template_suffix == "collection-vibrators" %}



  {% if collection.handle == 'vibrators-anal' %}
    <li class="collection-container vibrators-anal active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Anal Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-anal active "><div class="collection-name"><a href="/collections/vibrators-anal"><i class="check-icon"></i> Anal Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-bullet' %}
    <li class="collection-container vibrators-bullet active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Bullet Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-bullet active "><div class="collection-name"><a href="/collections/vibrators-bullet"><i class="check-icon"></i> Bullet Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-butterfly' %}
    <li class="collection-container vibrators-butterfly active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Butterfly Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-butterfly active "><div class="collection-name"><a href="/collections/vibrators-butterfly"><i class="check-icon"></i> Butterfly Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-classic' %}
    <li class="collection-container vibrators-classic active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Classic Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-classic active "><div class="collection-name"><a href="/collections/vibrators-classic"><i class="check-icon"></i> Classic Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-clitoral' %}
    <li class="collection-container vibrators-clitoral active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Clitoral Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-clitoral active "><div class="collection-name"><a href="/collections/vibrators-clitoral"><i class="check-icon"></i> Clitoral Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-couples' %}
    <li class="collection-container vibrators-couples active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Couples Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-couples active "><div class="collection-name"><a href="/collections/vibrators-couples"><i class="check-icon"></i> Couples Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-discreet' %}
    <li class="collection-container vibrators-discreet active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Discreet Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-discreet active "><div class="collection-name"><a href="/collections/vibrators-discreet"><i class="check-icon"></i> Discreet Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-dual' %}
    <li class="collection-container vibrators-dual active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Dual Action Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-dual active "><div class="collection-name"><a href="/collections/vibrators-dual"><i class="check-icon"></i> Dual Action Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-quiet' %}
    <li class="collection-container vibrators-quiet active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Extra Quiet Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-quiet active "><div class="collection-name"><a href="/collections/vibrators-quiet"><i class="check-icon"></i> Extra Quiet Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-g-spot' %}
    <li class="collection-container vibrators-g-spot active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> G-Spot Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-g-spot active "><div class="collection-name"><a href="/collections/vibrators-g-spot"><i class="check-icon"></i> G-Spot Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-large' %}
    <li class="collection-container vibrators-large active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Large Sized Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-large active "><div class="collection-name"><a href="/collections/vibrators-large"><i class="check-icon"></i> Large Sized Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-luxury' %}
    <li class="collection-container vibrators-luxury active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Luxury Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-luxury active "><div class="collection-name"><a href="/collections/vibrators-luxury"><i class="check-icon"></i> Luxury Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-wand' %}
    <li class="collection-container vibrators-wand active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Magic Wand Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-wand active "><div class="collection-name"><a href="/collections/vibrators-wand"><i class="check-icon"></i> Magic Wand Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-massager' %}
    <li class="collection-container vibrators-massager active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Massager Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-massager active "><div class="collection-name"><a href="/collections/vibrators-massager"><i class="check-icon"></i> Massager Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-rabbit' %}
    <li class="collection-container vibrators-rabbit active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Rabbit Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-rabbit active "><div class="collection-name"><a href="/collections/vibrators-rabbit"><i class="check-icon"></i> Rabbit Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'thrusting-vibrators' %}
    <li class="collection-container vibrators-rabbit active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Thrusting Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-rabbit active "><div class="collection-name"><a href="/collections/thrusting-vibrators"><i class="check-icon"></i> Thrusting Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-realistic' %}
    <li class="collection-container vibrators-realistic active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Realistic Dildo Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-realistic active "><div class="collection-name"><a href="/collections/vibrators-realistic"><i class="check-icon"></i> Realistic Dildo Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-kit' %}
    <li class="collection-container vibrators-kit active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Vibrator Sets</a></div></li>
  {% else %}
    <li class="collection-container vibrators-kit active "><div class="collection-name"><a href="/collections/vibrators-kit"><i class="check-icon"></i> Vibrator Sets</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-remote' %}
    <li class="collection-container vibrators-remote active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Remote Control Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-remote active "><div class="collection-name"><a href="/collections/vibrators-remote"><i class="check-icon"></i> Remote Control Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-finger' %}
    <li class="collection-container vibrators-finger active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Finger & Tongue Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-finger active "><div class="collection-name"><a href="/collections/vibrators-finger"><i class="check-icon"></i> Finger & Tongue Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-egg' %}
    <li class="collection-container vibrators-egg active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Egg Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-egg active "><div class="collection-name"><a href="/collections/vibrators-egg"><i class="check-icon"></i> Egg Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-recharge' %}
    <li class="collection-container vibrators-recharge active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Rechargeable Vibrators</a></div></li>
  {% else %}
    <li class="collection-container vibrators-recharge active "><div class="collection-name"><a href="/collections/vibrators-recharge"><i class="check-icon"></i> Rechargeable Vibrators</a></div></li>
  {% endif %}

  {% if collection.handle == 'vibrators-attachments' %}
    <li class="collection-container vibrators-attachments active selected "><div class="collection-name"><a href="/collections/vibrators"><i class="check-icon"></i> Vibrator Attachments</a></div></li>
  {% else %}
    <li class="collection-container vibrators-attachments active "><div class="collection-name"><a href="/collections/vibrators-attachments"><i class="check-icon"></i> Vibrator Attachments</a></div></li>
  {% endif %}
{% elsif collection.template_suffix == "collection-strap-ons" %}


  {% if collection.handle == 'strap-ons-harnesses-beginner' %}
    <li class="collection-container strap-ons-harnesses-beginner active selected "><div class="collection-name"><a href="/collections/strap-ons-harnesses"><i class="check-icon"></i> Beginner Strap Ons</a></div></li>
  {% else %}
    <li class="collection-container strap-ons-harnesses-beginner active "><div class="collection-name"><a href="/collections/strap-ons-harnesses-beginner"><i class="check-icon"></i> Beginner Strap Ons</a></div></li>
  {% endif %}

  {% if collection.handle == 'strap-ons-harnesses-hollow' %}
    <li class="collection-container strap-ons-harnesses-hollow active selected "><div class="collection-name"><a href="/collections/strap-ons-harnesses"><i class="check-icon"></i> Hollow Strap Ons</a></div></li>
  {% else %}
    <li class="collection-container strap-ons-harnesses-hollow active "><div class="collection-name"><a href="/collections/strap-ons-harnesses-hollow"><i class="check-icon"></i> Hollow Strap Ons</a></div></li>
  {% endif %}

  {% if collection.handle == 'pegging-strap-ons' %}
    <li class="collection-container pegging-strap-ons active selected "><div class="collection-name"><a href="/collections/strap-ons-harnesses"><i class="check-icon"></i> Pegging Strap Ons</a></div></li>
  {% else %}
    <li class="collection-container pegging-strap-ons active "><div class="collection-name"><a href="/collections/pegging-strap-ons"><i class="check-icon"></i> Pegging Strap Ons</a></div></li>
  {% endif %}

  {% if collection.handle == 'strap-ons-harnesses-lesbian' %}
    <li class="collection-container strap-ons-harnesses-lesbian active selected "><div class="collection-name"><a href="/collections/strap-ons-harnesses"><i class="check-icon"></i> Lesbian Strap Ons</a></div></li>
  {% else %}
    <li class="collection-container strap-ons-harnesses-lesbian active "><div class="collection-name"><a href="/collections/strap-ons-harnesses-lesbian"><i class="check-icon"></i> Lesbian Strap Ons</a></div></li>
  {% endif %}

  {% if collection.handle == 'strap-ons-harnesses-kit' %}
    <li class="collection-container strap-ons-harnesses-kit active selected "><div class="collection-name"><a href="/collections/strap-ons-harnesses"><i class="check-icon"></i> Strap On Harnesses & Kits</a></div></li>
  {% else %}
    <li class="collection-container strap-ons-harnesses-kit active "><div class="collection-name"><a href="/collections/strap-ons-harnesses-kit"><i class="check-icon"></i> Strap On Harnesses & Kits</a></div></li>
  {% endif %}

  {% if collection.handle == 'strap-ons-harnesses-strapless' %}
    <li class="collection-container strap-ons-harnesses-strapless active selected "><div class="collection-name"><a href="/collections/strap-ons-harnesses"><i class="check-icon"></i> Strapless Strap Ons</a></div></li>
  {% else %}
    <li class="collection-container strap-ons-harnesses-strapless active "><div class="collection-name"><a href="/collections/strap-ons-harnesses-strapless"><i class="check-icon"></i> Strapless Strap Ons</a></div></li>
  {% endif %}

  {% if collection.handle == 'strap-ons-harnesses-dildos' %}
    <li class="collection-container strap-ons-harnesses-dildos active selected "><div class="collection-name"><a href="/collections/strap-ons-harnesses"><i class="check-icon"></i> Strap On Dildos</a></div></li>
  {% else %}
    <li class="collection-container strap-ons-harnesses-dildos active "><div class="collection-name"><a href="/collections/strap-ons-harnesses-dildos"><i class="check-icon"></i> Strap On Dildos</a></div></li>
  {% endif %}

  {% if collection.handle == 'strap-ons-harnesses-vac-u-loc' %}
    <li class="collection-container strap-ons-harnesses-vac-u-loc active selected "><div class="collection-name"><a href="/collections/strap-ons-harnesses"><i class="check-icon"></i> Vac U Lock Strap Ons</a></div></li>
  {% else %}
    <li class="collection-container strap-ons-harnesses-vac-u-loc active "><div class="collection-name"><a href="/collections/strap-ons-harnesses-vac-u-loc"><i class="check-icon"></i> Vac U Lock Strap Ons</a></div></li>
  {% endif %}

  {% if collection.handle == 'strap-ons-harnesses-vibrates' %}
    <li class="collection-container strap-ons-harnesses-vibrates active selected "><div class="collection-name"><a href="/collections/strap-ons-harnesses"><i class="check-icon"></i> Vibrating Strap Ons</a></div></li>
  {% else %}
    <li class="collection-container strap-ons-harnesses-vibrates active "><div class="collection-name"><a href="/collections/strap-ons-harnesses-vibrates"><i class="check-icon"></i> Vibrating Strap Ons</a></div></li>
  {% endif %}

{% elsif collection.template_suffix == "collection-bondage-gear" %}





  {% if collection.handle == 'bondage-gear-beginner' %}
    <li class="collection-container bondage-gear-beginner active selected "><div class="collection-name"><a href="/collections/bondage-gear"><i class="check-icon"></i> Beginner Bondage</a></div></li>
  {% else %}
    <li class="collection-container bondage-gear-beginner active "><div class="collection-name"><a href="/collections/bondage-gear-beginner"><i class="check-icon"></i> Beginner Bondage</a></div></li>
  {% endif %}

  {% if collection.handle == 'bondage-gear-kit' %}
    <li class="collection-container bondage-gear-kit active selected "><div class="collection-name"><a href="/collections/bondage-gear"><i class="check-icon"></i> Bondage Kits</a></div></li>
  {% else %}
    <li class="collection-container bondage-gear-kit active "><div class="collection-name"><a href="/collections/bondage-gear-kit"><i class="check-icon"></i> Bondage Kits</a></div></li>
  {% endif %}

  {% if collection.handle == 'bondage-gear-blindfolds-masks-gags' %}
    <li class="collection-container bondage-gear-blindfolds-masks-gags active selected "><div class="collection-name"><a href="/collections/bondage-gear"><i class="check-icon"></i> Blindfolds, Masks & Gags</a></div></li>
  {% else %}
    <li class="collection-container bondage-gear-blindfolds-masks-gags active "><div class="collection-name"><a href="/collections/bondage-gear-blindfolds-masks-gags"><i class="check-icon"></i> Blindfolds, Masks & Gags</a></div></li>
  {% endif %}

  {% if collection.handle == 'bondage-gear-chastity' %}
    <li class="collection-container bondage-gear-chastity active selected "><div class="collection-name"><a href="/collections/bondage-gear"><i class="check-icon"></i> Chastity Devices</a></div></li>
  {% else %}
    <li class="collection-container bondage-gear-chastity active "><div class="collection-name"><a href="/collections/bondage-gear-chastity"><i class="check-icon"></i> Chastity Devices</a></div></li>
  {% endif %}

  {% if collection.handle == 'bondage-gear-electro' %}
    <li class="collection-container bondage-gear-electro active selected "><div class="collection-name"><a href="/collections/bondage-gear"><i class="check-icon"></i> Electro Sex Toys</a></div></li>
  {% else %}
    <li class="collection-container bondage-gear-electro active "><div class="collection-name"><a href="/collections/bondage-gear-electro"><i class="check-icon"></i> Electro Sex Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'bondage-gear-handcuffs-restraints' %}
    <li class="collection-container bondage-gear-handcuffs-restraints active selected "><div class="collection-name"><a href="/collections/bondage-gear"><i class="check-icon"></i> Handcuffs & Restraints</a></div></li>
  {% else %}
    <li class="collection-container bondage-gear-handcuffs-restraints active "><div class="collection-name"><a href="/collections/bondage-gear-handcuffs-restraints"><i class="check-icon"></i> Handcuffs & Restraints</a></div></li>
  {% endif %}

  {% if collection.handle == 'bondage-gear-nipple-clitoral' %}
    <li class="collection-container bondage-gear-nipple-clitoral active selected "><div class="collection-name"><a href="/collections/bondage-gear"><i class="check-icon"></i> Nipple & Clitoral Toys</a></div></li>
  {% else %}
    <li class="collection-container bondage-gear-nipple-clitoral active "><div class="collection-name"><a href="/collections/bondage-gear-nipple-clitoral"><i class="check-icon"></i> Nipple & Clitoral Toys</a></div></li>
  {% endif %}

  {% if collection.handle == 'bondage-gear-furniture' %}
    <li class="collection-container bondage-gear-furniture active selected "><div class="collection-name"><a href="/collections/bondage-gear"><i class="check-icon"></i> Sex Furniture</a></div></li>
  {% else %}
    <li class="collection-container bondage-gear-furniture active "><div class="collection-name"><a href="/collections/bondage-gear-furniture"><i class="check-icon"></i> Sex Furniture</a></div></li>
  {% endif %}

  {% if collection.handle == 'bondage-gear-sex-swings-machines' %}
    <li class="collection-container bondage-gear-sex-swings-machines active selected "><div class="collection-name"><a href="/collections/bondage-gear"><i class="check-icon"></i> Sex Swings & Machines</a></div></li>
  {% else %}
    <li class="collection-container bondage-gear-sex-swings-machines active "><div class="collection-name"><a href="/collections/bondage-gear-sex-swings-machines"><i class="check-icon"></i> Sex Swings & Machines</a></div></li>
  {% endif %}

  {% if collection.handle == 'bondage-gear-spankers-ticklers' %}
    <li class="collection-container bondage-gear-spankers-ticklers active selected "><div class="collection-name"><a href="/collections/bondage-gear"><i class="check-icon"></i> Spankers,Ticklers & Whips</a></div></li>
  {% else %}
    <li class="collection-container bondage-gear-spankers-ticklers active "><div class="collection-name"><a href="/collections/bondage-gear-spankers-ticklers"><i class="check-icon"></i> Spankers,Ticklers & Whips</a></div></li>
  {% endif %}



{% elsif collection.template_suffix == "collection-kegel-health-toys" %}


  {% if collection.handle == 'kegel-health-toys-kegel' %}
    <li class="collection-container kegel-health-toys-kegel active selected "><div class="collection-name"><a href="/collections/kegel-health-toys"><i class="check-icon"></i> Kegel Exercisers & Sets</a></div></li>
  {% else %}
    <li class="collection-container kegel-health-toys-kegel active "><div class="collection-name"><a href="/collections/kegel-health-toys-kegel"><i class="check-icon"></i> Kegel Exercisers & Sets</a></div></li>
  {% endif %}

  {% if collection.handle == 'kegel-health-toys-ben-wa' %}
    <li class="collection-container kegel-health-toys-ben-wa active selected "><div class="collection-name"><a href="/collections/kegel-health-toys"><i class="check-icon"></i> Ben Wa Balls</a></div></li>
  {% else %}
    <li class="collection-container kegel-health-toys-ben-wa active "><div class="collection-name"><a href="/collections/kegel-health-toys-ben-wa"><i class="check-icon"></i> Ben Wa Balls</a></div></li>
  {% endif %}

  {% if collection.handle == 'kegel-health-toys-vibrating-eggs' %}
    <li class="collection-container kegel-health-toys-vibrating-eggs active selected "><div class="collection-name"><a href="/collections/kegel-health-toys"><i class="check-icon"></i> Vibrating Love Eggs</a></div></li>
  {% else %}
    <li class="collection-container kegel-health-toys-vibrating-eggs active "><div class="collection-name"><a href="/collections/kegel-health-toys-vibrating-eggs"><i class="check-icon"></i> Vibrating Love Eggs</a></div></li>
  {% endif %}

  {% if collection.handle == 'kegel-health-toys-remote-eggs' %}
    <li class="collection-container kegel-health-toys-remote-eggs active selected "><div class="collection-name"><a href="/collections/kegel-health-toys"><i class="check-icon"></i> Remote Control Love Eggs</a></div></li>
  {% else %}
    <li class="collection-container kegel-health-toys-remote-eggs active "><div class="collection-name"><a href="/collections/kegel-health-toys-remote-eggs"><i class="check-icon"></i> Remote Control Love Eggs</a></div></li>
  {% endif %}
   {% elsif collection.template_suffix == "collection-sex-essentials" %}




  {% if collection.handle == 'sex-essentials-lube-anal' %}
    <li class="collection-container sex-essentials-lube-anal active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Anal Lubricants</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-anal active "><div class="collection-name"><a href="/collections/sex-essentials-lube-anal"><i class="check-icon"></i> Anal Lubricants</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-lube-cooling' %}
    <li class="collection-container sex-essentials-lube-cooling active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Cooling Lubricants</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-cooling active "><div class="collection-name"><a href="/collections/sex-essentials-lube-cooling"><i class="check-icon"></i> Cooling Lubricants</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-lube-flavored' %}
    <li class="collection-container sex-essentials-lube-flavored active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Flavored Lubricants</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-flavored active "><div class="collection-name"><a href="/collections/sex-essentials-lube-flavored"><i class="check-icon"></i> Flavored Lubricants</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-lube-masturbation' %}
    <li class="collection-container sex-essentials-lube-masturbation active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Masturbation Creams</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-masturbation active "><div class="collection-name"><a href="/collections/sex-essentials-lube-masturbation"><i class="check-icon"></i> Masturbation Creams</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-lube-organic' %}
    <li class="collection-container sex-essentials-lube-organic active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Organic Lube</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-organic active "><div class="collection-name"><a href="/collections/sex-essentials-lube-organic"><i class="check-icon"></i> Organic Lube</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-oils-creams-massage' %}
    <li class="collection-container sex-essentials-oils-creams-massage active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Erotic Massage Oils & Creams</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-oils-creams-massage active "><div class="collection-name"><a href="/collections/sex-essentials-oils-creams-massage"><i class="check-icon"></i> Erotic Massage Oils & Creams</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-lube-silicone' %}
    <li class="collection-container sex-essentials-lube-silicone active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Silicone Lubricants</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-silicone active "><div class="collection-name"><a href="/collections/sex-essentials-lube-silicone"><i class="check-icon"></i> Silicone Lubricants</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-lube-stim' %}
    <li class="collection-container sex-essentials-lube-stim active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Stimulating Lubricants</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-stim active "><div class="collection-name"><a href="/collections/sex-essentials-lube-stim"><i class="check-icon"></i> Stimulating Lubricants</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-lube-vegan' %}
    <li class="collection-container sex-essentials-lube-vegan active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Vegan Lubricants</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-vegan active "><div class="collection-name"><a href="/collections/sex-essentials-lube-vegan"><i class="check-icon"></i> Vegan Lubricants</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-lube-warming' %}
    <li class="collection-container sex-essentials-lube-warming active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Warming Lubricants</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-warming active "><div class="collection-name"><a href="/collections/sex-essentials-lube-warming"><i class="check-icon"></i> Warming Lubricants</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-lube-water' %}
    <li class="collection-container sex-essentials-lube-water active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Water Based Lubricants</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-water active "><div class="collection-name"><a href="/collections/sex-essentials-lube-water"><i class="check-icon"></i> Water Based Lubricants</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-lube-women' %}
    <li class="collection-container sex-essentials-lube-women active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Female Lubricants</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-lube-women active "><div class="collection-name"><a href="/collections/sex-essentials-lube-women"><i class="check-icon"></i> Female Lubricants</a></div></li>
  {% endif %}
<h4>Sex Enhancers</h4>
          {% if collection.handle == 'sex-essentials-better-anal' %}
    <li class="collection-container sex-essentials-better-anal active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Better Anal Sex</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-better-anal active "><div class="collection-name"><a href="/collections/sex-essentials-better-anal"><i class="check-icon"></i> Better Anal Sex</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-better-her' %}
    <li class="collection-container sex-essentials-better-her active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Better Sex for Her</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-better-her active "><div class="collection-name"><a href="/collections/sex-essentials-better-her"><i class="check-icon"></i> Better Sex for Her</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-better-him' %}
    <li class="collection-container sex-essentials-better-him active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Better Sex for Him</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-better-him active "><div class="collection-name"><a href="/collections/sex-essentials-better-him"><i class="check-icon"></i> Better Sex for Him</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-condoms' %}
    <li class="collection-container sex-essentials-condoms active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Safe Sex & Condoms</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-condoms active "><div class="collection-name"><a href="/collections/sex-essentials-condoms"><i class="check-icon"></i> Safe Sex & Condoms</a></div></li>
  {% endif %}
<h4>Sex Accessories</h4>
          {% if collection.handle == 'sex-essentials-battery' %}
    <li class="collection-container sex-essentials-battery active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Batteries</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-battery active "><div class="collection-name"><a href="/collections/sex-essentials-battery"><i class="check-icon"></i> Batteries</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-cleaners' %}
    <li class="collection-container sex-essentials-cleaners active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Cleaners</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-cleaners active "><div class="collection-name"><a href="/collections/sex-essentials-cleaners"><i class="check-icon"></i> Cleaners</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-storage' %}
    <li class="collection-container sex-essentials-storage active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Toy Storage</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-storage active "><div class="collection-name"><a href="/collections/sex-essentials-storage"><i class="check-icon"></i> Toy Storage</a></div></li>
  {% endif %}

  {% if collection.handle == 'sex-essentials-toy-accessories' %}
    <li class="collection-container sex-essentials-toy-accessories active selected "><div class="collection-name"><a href="/collections/sex-essentials"><i class="check-icon"></i> Toy Accessories</a></div></li>
  {% else %}
    <li class="collection-container sex-essentials-toy-accessories active "><div class="collection-name"><a href="/collections/sex-essentials-toy-accessories"><i class="check-icon"></i> Toy Accessories</a></div></li>
  {% endif %}


{% elsif collection.template_suffix == "collection-cock-rings" %}



  {% if collection.handle == 'cock-rings-adjustable' %}
    <li class="collection-container cock-rings-adjustable active selected "><div class="collection-name"><a href="/collections/cock-rings"><i class="check-icon"></i> Adjustable Cock Rings</a></div></li>
  {% else %}
    <li class="collection-container cock-rings-adjustable active "><div class="collection-name"><a href="/collections/cock-rings-adjustable"><i class="check-icon"></i> Adjustable Cock Rings</a></div></li>
  {% endif %}

  {% if collection.handle == 'cock-rings-set' %}
    <li class="collection-container cock-rings-set active selected "><div class="collection-name"><a href="/collections/cock-rings"><i class="check-icon"></i> Cock Ring Sets</a></div></li>
  {% else %}
    <li class="collection-container cock-rings-set active "><div class="collection-name"><a href="/collections/cock-rings-set"><i class="check-icon"></i> Cock Ring Sets</a></div></li>
  {% endif %}

  {% if collection.handle == 'cock-rings-double' %}
    <li class="collection-container cock-rings-double active selected "><div class="collection-name"><a href="/collections/cock-rings"><i class="check-icon"></i> Double Cock Rings</a></div></li>
  {% else %}
    <li class="collection-container cock-rings-double active "><div class="collection-name"><a href="/collections/cock-rings-double"><i class="check-icon"></i> Double Cock Rings</a></div></li>
  {% endif %}

  {% if collection.handle == 'cock-rings-metal' %}
    <li class="collection-container cock-rings-metal active selected "><div class="collection-name"><a href="/collections/cock-rings"><i class="check-icon"></i> Metal Cock Rings</a></div></li>
  {% else %}
    <li class="collection-container cock-rings-metal active "><div class="collection-name"><a href="/collections/cock-rings-metal"><i class="check-icon"></i> Metal Cock Rings</a></div></li>
  {% endif %}

  {% if collection.handle == 'cock-rings-non-vibe' %}
    <li class="collection-container cock-rings-non-vibe active selected "><div class="collection-name"><a href="/collections/cock-rings"><i class="check-icon"></i> Non Vibrating Cock Rings</a></div></li>
  {% else %}
    <li class="collection-container cock-rings-non-vibe active "><div class="collection-name"><a href="/collections/cock-rings-non-vibe"><i class="check-icon"></i> Non Vibrating Cock Rings</a></div></li>
  {% endif %}

  {% if collection.handle == 'cock-rings-rabbit' %}
    <li class="collection-container cock-rings-rabbit active selected "><div class="collection-name"><a href="/collections/cock-rings"><i class="check-icon"></i> Rabbit Cock Rings</a></div></li>
  {% else %}
    <li class="collection-container cock-rings-rabbit active "><div class="collection-name"><a href="/collections/cock-rings-rabbit"><i class="check-icon"></i> Rabbit Cock Rings</a></div></li>
  {% endif %}

  {% if collection.handle == 'cock-rings-stretchy' %}
    <li class="collection-container cock-rings-stretchy active selected "><div class="collection-name"><a href="/collections/cock-rings"><i class="check-icon"></i> Stretchy Cock Rings</a></div></li>
  {% else %}
    <li class="collection-container cock-rings-stretchy active "><div class="collection-name"><a href="/collections/cock-rings-stretchy"><i class="check-icon"></i> Stretchy Cock Rings</a></div></li>
  {% endif %}

  {% if collection.handle == 'cock-rings-vibrates' %}
    <li class="collection-container cock-rings-vibrates active selected "><div class="collection-name"><a href="/collections/cock-rings"><i class="check-icon"></i> Vibrating Cock Rings</a></div></li>
  {% else %}
    <li class="collection-container cock-rings-vibrates active "><div class="collection-name"><a href="/collections/cock-rings-vibrates"><i class="check-icon"></i> Vibrating Cock Rings</a></div></li>
  {% endif %}

  {% if collection.handle == 'cock-rings-couples' %}
    <li class="collection-container cock-rings-couples active selected "><div class="collection-name"><a href="/collections/cock-rings"><i class="check-icon"></i> Couples Cock Rings</a></div></li>
  {% else %}
    <li class="collection-container cock-rings-couples active "><div class="collection-name"><a href="/collections/cock-rings-couples"><i class="check-icon"></i> Couples Cock Rings</a></div></li>
  {% endif %}

{% elsif collection.template_suffix == "games-gifts" %}



  {% if collection.handle == 'games-gifts-drinking' %}
    <li class="collection-container games-gifts-drinking active selected "><div class="collection-name"><a href="/collections/games-gifts"><i class="check-icon"></i> Drinking Games</a></div></li>
  {% else %}
    <li class="collection-container games-gifts-drinking active "><div class="collection-name"><a href="/collections/games-gifts-drinking"><i class="check-icon"></i> Drinking Games</a></div></li>
  {% endif %}

  {% if collection.handle == 'games-gifts-massage' %}
    <li class="collection-container games-gifts-massage active selected "><div class="collection-name"><a href="/collections/games-gifts"><i class="check-icon"></i> Erotic Massage</a></div></li>
  {% else %}
    <li class="collection-container games-gifts-massage active "><div class="collection-name"><a href="/collections/games-gifts-massage"><i class="check-icon"></i> Erotic Massage</a></div></li>
  {% endif %}

  {% if collection.handle == 'games-gifts-hen' %}
    <li class="collection-container games-gifts-hen active selected "><div class="collection-name"><a href="/collections/games-gifts"><i class="check-icon"></i> Hen Party Goodies</a></div></li>
  {% else %}
    <li class="collection-container games-gifts-hen active "><div class="collection-name"><a href="/collections/games-gifts-hen"><i class="check-icon"></i> Hen Party Goodies</a></div></li>
  {% endif %}

  {% if collection.handle == 'games-gifts-candles' %}
    <li class="collection-container games-gifts-candles active selected "><div class="collection-name"><a href="/collections/games-gifts"><i class="check-icon"></i> Massage Candles</a></div></li>
  {% else %}
    <li class="collection-container games-gifts-candles active "><div class="collection-name"><a href="/collections/games-gifts-candles"><i class="check-icon"></i> Massage Candles</a></div></li>
  {% endif %}

  {% if collection.handle == 'games-gifts-edibles' %}
    <li class="collection-container games-gifts-edibles active selected "><div class="collection-name"><a href="/collections/games-gifts"><i class="check-icon"></i> Naughty Edibles</a></div></li>
  {% else %}
    <li class="collection-container games-gifts-edibles active "><div class="collection-name"><a href="/collections/games-gifts-edibles"><i class="check-icon"></i> Naughty Edibles</a></div></li>
  {% endif %}

  {% if collection.handle == 'games-gifts-novelty' %}
    <li class="collection-container games-gifts-novelty active selected "><div class="collection-name"><a href="/collections/games-gifts"><i class="check-icon"></i> Novelty Gifts</a></div></li>
  {% else %}
    <li class="collection-container games-gifts-novelty active "><div class="collection-name"><a href="/collections/games-gifts-novelty"><i class="check-icon"></i> Novelty Gifts</a></div></li>
  {% endif %}

  {% if collection.handle == 'games-gifts-moulding' %}
    <li class="collection-container games-gifts-moulding active selected "><div class="collection-name"><a href="/collections/games-gifts"><i class="check-icon"></i> Penis Moulding Kits</a></div></li>
  {% else %}
    <li class="collection-container games-gifts-moulding active "><div class="collection-name"><a href="/collections/games-gifts-moulding"><i class="check-icon"></i> Penis Moulding Kits</a></div></li>
  {% endif %}

  {% if collection.handle == 'games-gifts-dice' %}
    <li class="collection-container games-gifts-dice active selected "><div class="collection-name"><a href="/collections/games-gifts"><i class="check-icon"></i> Sex Dice</a></div></li>
  {% else %}
    <li class="collection-container games-gifts-dice active "><div class="collection-name"><a href="/collections/games-gifts-dice"><i class="check-icon"></i> Sex Dice</a></div></li>
  {% endif %}

  {% if collection.handle == 'games-gifts-sex' %}
    <li class="collection-container games-gifts-sex active selected "><div class="collection-name"><a href="/collections/games-gifts"><i class="check-icon"></i> Sex Games</a></div></li>
  {% else %}
    <li class="collection-container games-gifts-sex active "><div class="collection-name"><a href="/collections/games-gifts-sex"><i class="check-icon"></i> Sex Games</a></div></li>
  {% endif %}

  {% elsif collection.template_suffix == "lingerie" %}

         {% if collection.handle == 'sexy-lingerie-costumes' %}
    <li class="collection-container sexy-lingerie-costumes active selected "><div class="collection-name"><a href="/collections/lingerie"><i class="check-icon"></i> Sexy Lingerie & Costumes</a></div></li>
  {% else %}
    <li class="collection-container sexy-lingerie-costumes active "><div class="collection-name"><a href="/collections/sexy-lingerie-costumes"><i class="check-icon"></i> Sexy Lingerie & Costumes</a></div></li>
  {% endif %}

  {% if collection.handle == 'sexy-lingerie-stockings' %}
    <li class="collection-container sexy-lingerie-stockings active selected "><div class="collection-name"><a href="/collections/lingerie"><i class="check-icon"></i> Stockings & Hosiery</a></div></li>
  {% else %}
    <li class="collection-container sexy-lingerie-stockings active "><div class="collection-name"><a href="/collections/sexy-lingerie-stockings"><i class="check-icon"></i> Stockings & Hosiery</a></div></li>
  {% endif %}

  {% if collection.handle == 'sexy-lingerie-plus' %}
    <li class="collection-container sexy-lingerie-plus active selected "><div class="collection-name"><a href="/collections/lingerie"><i class="check-icon"></i> Plus Sized Lingerie</a></div></li>
  {% else %}
    <li class="collection-container sexy-lingerie-plus active "><div class="collection-name"><a href="/collections/sexy-lingerie-plus"><i class="check-icon"></i> Plus Sized Lingerie</a></div></li>
  {% endif %}

  {% if collection.handle == 'sexy-lingerie-sets' %}
    <li class="collection-container sexy-lingerie-sets active selected "><div class="collection-name"><a href="/collections/lingerie"><i class="check-icon"></i> Lingerie Sets</a></div></li>
  {% else %}
    <li class="collection-container sexy-lingerie-sets active "><div class="collection-name"><a href="/collections/sexy-lingerie-sets"><i class="check-icon"></i> Lingerie Sets</a></div></li>
  {% endif %}

  {% if collection.handle == 'sexy-lingerie-bras' %}
    <li class="collection-container sexy-lingerie-bras active selected "><div class="collection-name"><a href="/collections/lingerie"><i class="check-icon"></i> Bras & Bra Sets</a></div></li>
  {% else %}
    <li class="collection-container sexy-lingerie-bras active "><div class="collection-name"><a href="/collections/sexy-lingerie-bras"><i class="check-icon"></i> Bras & Bra Sets</a></div></li>
  {% endif %}

  {% if collection.handle == 'sexy-lingerie-panties' %}
    <li class="collection-container sexy-lingerie-panties active selected "><div class="collection-name"><a href="/collections/lingerie"><i class="check-icon"></i> Sexy Panties</a></div></li>
  {% else %}
    <li class="collection-container sexy-lingerie-panties active "><div class="collection-name"><a href="/collections/sexy-lingerie-panties"><i class="check-icon"></i> Sexy Panties</a></div></li>
  {% endif %}

   {% elsif collection.template_suffix == "sp-blowout-couples" %}


         {% if collection.handle == "sex-toy-blowout" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/collectionssex-toy-blowout"><i class="check-icon"></i> Featured Specials >>></a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/collections/sex-toy-blowout"><i class="check-icon"></i> Featured Specials >>></a></div></li>
  {% endif %}

  {% if collection.handle == "sex-toy-bundles" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/collections/sex-toy-bundles"><i class="check-icon"></i> Sex Toy Bundles</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/collections/sex-toy-bundles"><i class="check-icon"></i> Sex Toy Bundles</a></div></li>
  {% endif %}


  {% if collection.handle == "daily-deals" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/collections/daily-deals"><i class="check-icon"></i> Daily Deals</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/collections/daily-deals"><i class="check-icon"></i> Daily Deals</a></div></li>
  {% endif %}

  {% if collection.handle == "weekly-deals" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/collections/weekly-deals"><i class="check-icon"></i> Brand Of The Week</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/collections/weekly-deals"><i class="check-icon"></i> Brand Of The Week</a></div></li>
  {% endif %}

  {% if collection.handle == "couples-toys-specials" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/collections/couples-toys-specials"><i class="check-icon"></i> Couples Toy Deals</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/collections/couples-toys-specials"><i class="check-icon"></i> Couples Toy Deals</a></div></li>
  {% endif %}

  {% if collection.handle == "luxury-sex-toy-specials-1" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/collections/luxury-sex-toy-specials-1"><i class="check-icon"></i> Luxury Toy Specials</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/collections/luxury-sex-toy-specials-1"><i class="check-icon"></i> Luxury Toy Specials</a></div></li>
  {% endif %}

  {% if collection.handle == "save-10" %}
    <li class="collection-container dildos-black active selected "><div class="collection-name"><a title="" href="/collections/save-10"><i class="check-icon"></i> 10% Off Deals</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/collections/save-10"><i class="check-icon"></i> 10% Off Deals</a></div></li>
  {% endif %}

  {% if collection.handle == "save-20" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/collections/save-20"><i class="check-icon"></i> 20% Off Deals</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/collections/save-20"><i class="check-icon"></i> 20% Off Deals</a></div></li>
  {% endif %}

  {% if collection.handle == "save-30" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/collections/save-30"><i class="check-icon"></i> 30% Off Deals</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/collections/save-30"><i class="check-icon"></i> 30% Off Deals</a></div></li>
  {% endif %}

  {% if page.handle == "top-10-sex-toys-for-men" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/pages/top-10-sex-toys-for-men"><i class="check-icon"></i> Top 10 Toys For Men</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/pages/top-10-sex-toys-for-men"><i class="check-icon"></i> Top 10 Toys For Men</a></div></li>
  {% endif %}

{% if page.handle == "top-10-sex-toys-for-women" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/pages/top-10-sex-toys-for-women"><i class="check-icon"></i> Top 10 Toys For Women</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/pages/top-10-sex-toys-for-women"><i class="check-icon"></i> Top 10 Toys For Women</a></div></li>
  {% endif %}

  {% if page.handle == "top-10-sex-toys-for-couples" %}
    <li class="collection-container anal-sex-toys-beads active selected "><div class="collection-name"><a title="" href="/pages/top-10-sex-toys-for-couples"><i class="check-icon"></i> Top 10 Toys For Couples</a></div></li>
  {% else %}
    <li class="collection-container anal-sex-toys-beads active "><div class="collection-name"><a title="" href="/pages/top-10-sex-toys-for-couples"><i class="check-icon"></i> Top 10 Toys For Couples</a></div></li>
  {% endif %}

{% endif %}
</ul>