<!--googleoff: index-->
<br><h3><span>DISCREET SHIPPING/BILLING</span></h3>
<p>Simple brown boxes and plain envelopes are used for all deliveries.  The shipping labels and return address are for our warehouse addresses and do not indicate the contents or origin.  All billing is done under our anonymous company name MBS Retail Ltd. (For North American customers the credit card line may show as either "MBS Retail Ltd." or "SP International Ltd.")</p>
<p style="text-align: left;"> </p>
<div width="100%"><img alt="" src="//cdn.shopify.com/s/files/1/0762/4901/files/discreet-shipping-no-text_large.jpg?1257395182351524792" style="float: none;" width="50%" /><img alt="" src="//cdn.shopify.com/s/files/1/0762/4901/files/discreet-package_large.jpg?1257395182351524792" style="float: none;" width="50%" /></div>
<br>
<h3><span>Your Privacy + Security</span></h3>
<p>Your personal information is 100% safe and guaranteed when shopping on Simpli Pleasure.com
<br>
We use a 256-bit encryption through Shopify and Geotrust to provide you with the safest shopping environment online.
<br>
We do not store any of your payment inormation on our server. All of our payments are done through Paypal Payments Pro.
<br>
They enable us to provide you with the most secure form of payment processing online. Your information is guaranteed safe and secured through Paypals incredible security protocols.</p>
<br>
<h3><span>How do you measure your toys?</span></h3>
<p><br />We typically provide four (sometimes more) measurements for our toys.  <br /><br /><strong>Length:</strong> The vertical length of the toy from the two farthest reaching points</p>
<p><strong>Insertable Length:</strong> The length of the toy designed to be safely inserted</p>
<p><strong>Width (or diameter):</strong> The distance across the toys girth</p>
<p><strong>Girth (or circumference):</strong> Our measure of a toys thickness, in circumference</p>
<p> </p>
<img src="{{ '../assets/images/length_large.jpg' | asset_url }}" />
<img src="{{ '../assets/images/insertable-length_large.jpg' | asset_url }}" />
<img src="{{ '../assets/images/width_large.jpg' | asset_url }}" />
<img src="{{ '../assets/images/girth_large.jpg' | asset_url }}" /><span></span>
<p> </p>
<!--googleon: index-->