<!-- snippets/product-page-badges-modals.liquid -->
<div id="badges__modal_parking">
  <div id="badges__text_modal" class="badges__modal_content" style="display: none;">
    <div class="badges__modal_container">
      <div class="badges__shipping_box">
        <img src="{{ '../assets/images/badge_freeshipping.png' | asset_url }}">
        <h3>Free Shipping</h3>
        <p>Fast, free shipping on all orders over $59.99! No matter how many toys you buy, as long as the total is over $59.99 we’ll ship it FREE to your door  anywhere in the United States of America.</p>
      </div>
      <div class="badges__shipping_box">
        <img src="{{ '../assets/images/badge_freeexhanges.png' | asset_url }}">
        <h3>Free Exchanges</h3>
        <p>Did your toy break? Was it too big? Or too small? No matter what the reason is we would love to exchange it for you. For up to 60 days from your original purchase we’ll exchange your toy for a gift card to our store, of equal value to the toy you original purchased.</p>
      </div>
      <div class="badges__shipping_box">
        <img src="{{ '../assets/images/badge_freereturns.png' | asset_url }}">
        <h3>Free Returns</h3>
        <p>No matter if you used it or just didn’t feel the right connect with it, we will refund your money once your toy(s) are returned at anytime within the 60 days from your original purchase (we’ll even pay the return shipping).</p>
      </div>
    </div>
    <div class="badges__contacts">
      <div class="badges__contacts_container">
        <h3>QUESTIONS?</h3>
        <div class="badges__contacts_div">
          <span class="badges__call">CALL US: </span></br><a href="tel:1-800-918-6308">1.800.918.6308</a></br>
          <span class="badges__email">EMAIL US: </span></br><a href="mailto:care@simplipleasure.com">care@simplipleasure.com</a>
        </div>
      </div>
    </div>
  </div>

  <div id="badges__guarantee_modal" class="badges__modal_content" style="display: none;">
    <div class="badges__guarantee_image">
      <img src="{{ '../assets/images/badge_moneyback2_logo.png' | asset_url }}" title="Simpli Pleasure">
      <div class="badges__gty_container">
        <span class="badges__gty_1">60-DAY LOVE THEM OR</span>
        <span class="badges__gty_2">YOUR MONEY BACK</span>
        <span class="badges__gty_3">GUARANTEE</span>
      </div>
    </div>
    <div class="badges__questions_text">
      <p>No matter if you used your toy or not, we’ll refund your money at anytime within 60 days from your original purchase - we do not need a reason. You return your toy to us, we refund without any questions.</p>
      <h3>Simpli Pleasure</h3>
    </div>
  </div>
</div>
<!-- END: snippets/product-page-badges-modals.liquid -->
