<!--snippets/product-page-badges-guarantee-boxes.liquid -->
<div class="badges__guarantee-box-container">
  <a href="javascript:void(0)" class="badges__guarantee_box ">
    <div class="badges__prod1"></div>
    <p>FREE SHIPPING{% if product.price < 5999 %}*{%endif%}</p>
  </a><a href="javascript:void(0)" class="badges__guarantee_box">
    <div class="badges__prod2"></div>
    <p>FREE EXCHANGES</p>
  </a><a href="javascript:void(0)" class="badges__guarantee_box">
    <div class="badges__prod3"></div>
    <p>FREE RETURNS</p>
  </a>
</div>
<!--END: snippets/product-page-badges-guarantee-boxes.liquid -->
