<!-- snippets/ab4-v0--product-top-review-link.liquid -->
<div class="product__top-reviews-badge">
  <a href="#tab2" class="products__show-reviews" data-activator="#tab2">
    <span data-id="{{ product.id }}" style="display: inline-block;">{{ product.metafields.stamped.badge }}</span>
  </a>
</div>
