<div class="search-menu menu" >
  <form id="unsticky-search-form" class="search" action="/pages/search-results">
    <input type="hidden" name="type" value="product">
    <div class="input-group">
      <input type="search" name="q" class="ui-autocomplete-input form-control search-field" placeholder="Search: e.g. lelo, dildo, thrusting…" value="" autocapitalize="off" autocomplete="OfF" autocorrect="off"  required>
      <span class="input-group-label show-lg">
        <button data-role='button' type="submit">Search</button>
      </span>
      <span class="input-group-btn">
        <button data-role='button' class="btn sticky-search_search_button" type="submit"></button>
      </span>
    </div>
  </form>
</div>