
<div id="shappify_count_down"></div>
<script type="text/javascript">
	  ShappifySaleEnds = new Date(" {{ 'Sat, May 16, 15' }} ");
	ShappifyToday = new Date("{{ 'now' | date: "%B %d, %Y %H:%M:%S"}}");
</script>

<script async type="text/javascript" src="//secure.apps.shappify.com/apps/discount/discount-sales-clock-js.php?shop=simplysex.myshopify.com"></script>
<link rel="stylesheet" type="text/css" href="//secure.apps.shappify.com/apps/discount/discount-sales-clock-css.php?shop=simplysex.myshopify.com" />
