server: "hub-cloud.browserstack.com"
user: "BROWSERSTACK_USERNAME"
key: "BROWSERSTACK_ACCESS_KEY"

urls:
  store:
    https://www.simplipleasure.com

common_caps:
  "build": "simplipleasure-live"
  "browserstack.debug": true

browser_caps:
  -
    "browser": "chrome"
